[D-BUS Service]
Name=com.example.SendPrefixDenied.internal
Exec=/bin/false SendPrefixDenied.internal
SystemdService=dbus-com.example.SendPrefixDenied.internal.service
