<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="katekonsole" library="katekonsoleplugin" version="5" translationDomain="katekonsoleplugin">
  <MenuBar>
    <Menu name="tools">
      <text>&amp;Tools</text>
      <Action name="katekonsole_tools_toggle_visibility" group="tools_operations"/>
      <Action name="katekonsole_tools_toggle_focus" group="tools_operations"/>
      <Action name="katekonsole_tools_pipe_to_terminal" group="tools_operations"/>
      <Action name="katekonsole_tools_sync" group="tools_operations"/>
      <Action name="katekonsole_tools_run" group="tools_operations"/>
    </Menu>
  </MenuBar>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
