{
	Version = 2;
	Foundry = "URW";
	Faces =
	(
	{
	    PostScriptName = "Helvetica";
	    Name = "Regular";
	    Files = ("n019003l.pfb","n019003l.pfm","n019003l.afm");
	},
	{
	    PostScriptName = "Helvetica-Bold";
	    Name = "Bold";
	    Files = ("n019004l.pfb","n019004l.pfm","n019004l.afm");
	},
	{
	    PostScriptName = "Helvetica-Italic";
	    Name = "Italic";
	    Files = ("n019023l.pfb","n019023l.pfm","n019023l.afm");
	},
	{
	    PostScriptName = "Helvetica-BoldItalic";
	    Name = "Bold Italic";
	    Files = ("n019024l.pfb","n019024l.pfm","n019024l.afm");
	},
	{
	    PostScriptName = "Helvetica-Oblique";
	    Name = "Oblique";
	    Files = ("n019023l.pfb","n019023l.pfm","n019023l.afm");
	},
	{
	    PostScriptName = "Helvetica-BoldOblique";
	    Name = "Bold Oblique";
	    Files = ("n019024l.pfb","n019024l.pfm","n019024l.afm");
	}
	);
}
