[Desktop Entry]
Type=Action
Name=Open as Root
Name[de]=Als Root öffnen
Icon=dialog-password
Profiles=profile-zero;profile-one;profile-two;

[X-Action-Profile profile-zero]
MimeTypes=;text/*;application/x-shellscript
Exec=sudo -E -A launch FeatherPad %f

[X-Action-Profile profile-one]
MimeTypes=inode/directory;
Exec=sudo -A launch Filer %f

[X-Action-Profile profile-two]
MimeTypes=inode/mount-point;
Exec=sudo -A launch Filer /media/%w
