<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOStorageFamily</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IOStorageFamily</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>I/O Kit Storage Family</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOAppleLabelScheme</key>
		<dict>
			<key>Content Mask</key>
			<string>Apple_Label</string>
			<key>IOClass</key>
			<string>IOAppleLabelScheme</string>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOPropertyMatch</key>
			<array>
				<dict>
					<key>Content Hint</key>
					<string>Apple_Label</string>
				</dict>
				<dict>
					<key>Content Hint</key>
					<string>4C616265-6C00-11AA-AA11-00306543ECAC</string>
				</dict>
			</array>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
		</dict>
		<key>IOApplePartitionScheme</key>
		<dict>
			<key>Content Mask</key>
			<string>Apple_partition_scheme</string>
			<key>IOClass</key>
			<string>IOApplePartitionScheme</string>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOPropertyMatch</key>
			<array>
				<dict>
					<key>Whole</key>
					<true/>
				</dict>
				<dict>
					<key>Content Hint</key>
					<string>CD_ROM_Mode_1</string>
					<key>Writable</key>
					<false/>
				</dict>
				<dict>
					<key>Content Hint</key>
					<string>CD_ROM_Mode_2_Form_1</string>
					<key>Writable</key>
					<false/>
				</dict>
			</array>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
		</dict>
		<key>IOBlockStorageDriver</key>
		<dict>
			<key>IOClass</key>
			<string>IOBlockStorageDriver</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device-type</key>
				<string>Generic</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOBlockStorageDevice</string>
		</dict>
		<key>IOFDiskPartitionScheme</key>
		<dict>
			<key>Content Mask</key>
			<string>FDisk_partition_scheme</string>
			<key>Content Table</key>
			<dict>
				<key>0x01</key>
				<string>DOS_FAT_12</string>
				<key>0x04</key>
				<string>DOS_FAT_16_S</string>
				<key>0x06</key>
				<string>DOS_FAT_16</string>
				<key>0x07</key>
				<string>Windows_NTFS</string>
				<key>0x0B</key>
				<string>DOS_FAT_32</string>
				<key>0x0C</key>
				<string>Windows_FAT_32</string>
				<key>0x0E</key>
				<string>Windows_FAT_16</string>
				<key>0x14</key>
				<string>DOS_FAT_16_S_Hidden</string>
				<key>0x16</key>
				<string>DOS_FAT_16_Hidden</string>
				<key>0x42</key>
				<string>Windows_LDM</string>
				<key>0x82</key>
				<string>Linux_Swap</string>
				<key>0x83</key>
				<string>Linux</string>
				<key>0x8E</key>
				<string>Linux_LVM</string>
				<key>0xA5</key>
				<string>FreeBSD</string>
				<key>0xA6</key>
				<string>OpenBSD</string>
				<key>0xA7</key>
				<string>Apple_Rhapsody_UFS</string>
				<key>0xA8</key>
				<string>Apple_UFS</string>
				<key>0xA9</key>
				<string>NetBSD</string>
				<key>0xAB</key>
				<string>Apple_Boot</string>
				<key>0xAE</key>
				<string>Apple_Encrypted</string>
				<key>0xAF</key>
				<string>Apple_HFS</string>
				<key>0xFD</key>
				<string>Linux_RAID</string>
			</dict>
			<key>IOClass</key>
			<string>IOFDiskPartitionScheme</string>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOProbeScore</key>
			<integer>3000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>Whole</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
		</dict>
		<key>IOGUIDPartitionScheme</key>
		<dict>
			<key>Content Mask</key>
			<string>GUID_partition_scheme</string>
			<key>IOClass</key>
			<string>IOGUIDPartitionScheme</string>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>Whole</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
		</dict>
		<key>IOMediaBSDClient</key>
		<dict>
			<key>IOClass</key>
			<string>IOMediaBSDClient</string>
			<key>IOMatchCategory</key>
			<string>IOMediaBSDClient</string>
			<key>IOProbeScore</key>
			<integer>30000</integer>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 1998-2014 Apple Inc. All rights reserved.</string>
	<key>OSBundleAllowUserLoad</key>
	<true/>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
