[Desktop Entry]
Name=Big-Light
X-KDE-PluginInfo-Author=mkole
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=Big-Light
X-KDE-PluginInfo-Version=.0.4
X-KDE-PluginInfo-Website=

[Wallpaper]
defaultWallpaperTheme=Big-Light
defaultFileSuffix=.png
defaultHeight=1080
defaultWidth=1920
