@define-color borders_breeze #c1c1c1;
@define-color content_view_bg_breeze #ffffff;
@define-color error_color_backdrop_breeze #da4453;
@define-color error_color_breeze #da4453;
@define-color error_color_insensitive_backdrop_breeze #f0b1b8;
@define-color error_color_insensitive_breeze #f0b1b8;
@define-color insensitive_base_color_breeze #f3f3f3;
@define-color insensitive_base_fg_color_breeze #aaaaaa;
@define-color insensitive_bg_color_breeze #eaeaea;
@define-color insensitive_borders_breeze #d8d8d8;
@define-color insensitive_fg_color_breeze #a4a4a4;
@define-color insensitive_selected_bg_color_breeze #eaeaea;
@define-color insensitive_selected_fg_color_breeze #a4a4a4;
@define-color insensitive_unfocused_bg_color_breeze #eaeaea;
@define-color insensitive_unfocused_fg_color_breeze #a4a4a4;
@define-color insensitive_unfocused_selected_bg_color_breeze #eaeaea;
@define-color insensitive_unfocused_selected_fg_color_breeze #a4a4a4;
@define-color link_color_breeze #315bef;
@define-color link_visited_color_breeze #7f8c8d;
@define-color success_color_backdrop_breeze #27ae60;
@define-color success_color_breeze #27ae60;
@define-color success_color_insensitive_backdrop_breeze #abd8be;
@define-color success_color_insensitive_breeze #abd8be;
@define-color theme_base_color_breeze #ffffff;
@define-color theme_bg_color_breeze #f5f5f5;
@define-color theme_button_background_backdrop_breeze #ffffff;
@define-color theme_button_background_backdrop_insensitive_breeze #f3f3f3;
@define-color theme_button_background_insensitive_breeze #f3f3f3;
@define-color theme_button_background_normal_breeze #ffffff;
@define-color theme_button_decoration_focus_backdrop_breeze #050505;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #a0a0a0;
@define-color theme_button_decoration_focus_breeze #050505;
@define-color theme_button_decoration_focus_insensitive_breeze #a0a0a0;
@define-color theme_button_decoration_hover_backdrop_breeze #538fff;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #b2ceff;
@define-color theme_button_decoration_hover_breeze #538fff;
@define-color theme_button_decoration_hover_insensitive_breeze #b2ceff;
@define-color theme_button_foreground_active_backdrop_breeze #242424;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #a4a4a4;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #a4a4a4;
@define-color theme_button_foreground_backdrop_breeze #242424;
@define-color theme_button_foreground_backdrop_insensitive_breeze #aaaaaa;
@define-color theme_button_foreground_insensitive_breeze #aaaaaa;
@define-color theme_button_foreground_normal_breeze #242424;
@define-color theme_fg_color_breeze #242424;
@define-color theme_hovering_selected_bg_color_breeze #538fff;
@define-color theme_selected_bg_color_breeze #315bef;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #242424;
@define-color theme_titlebar_background_backdrop_breeze #eeeeee;
@define-color theme_titlebar_background_breeze #f5f5f5;
@define-color theme_titlebar_background_light_breeze #f5f5f5;
@define-color theme_titlebar_foreground_backdrop_breeze #787878;
@define-color theme_titlebar_foreground_breeze #424242;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #787878;
@define-color theme_titlebar_foreground_insensitive_breeze #787878;
@define-color theme_unfocused_base_color_breeze #ffffff;
@define-color theme_unfocused_bg_color_breeze #f5f5f5;
@define-color theme_unfocused_fg_color_breeze #242424;
@define-color theme_unfocused_selected_bg_color_alt_breeze #c8cff8;
@define-color theme_unfocused_selected_bg_color_breeze #c8cff8;
@define-color theme_unfocused_selected_fg_color_breeze #242424;
@define-color theme_unfocused_text_color_breeze #242424;
@define-color theme_unfocused_view_bg_color_breeze #f3f3f3;
@define-color theme_unfocused_view_text_color_breeze #aaaaaa;
@define-color theme_view_active_decoration_color_breeze #538fff;
@define-color theme_view_hover_decoration_color_breeze #538fff;
@define-color tooltip_background_breeze #242424;
@define-color tooltip_border_breeze #535353;
@define-color tooltip_text_breeze #dedede;
@define-color unfocused_borders_breeze #c1c1c1;
@define-color unfocused_insensitive_borders_breeze #d8d8d8;
@define-color warning_color_backdrop_breeze #f67400;
@define-color warning_color_breeze #f67400;
@define-color warning_color_insensitive_backdrop_breeze #fbc289;
@define-color warning_color_insensitive_breeze #fbc289;
