{
 "\UF700"="Up arrow";
 "\UF701"="Down arrow";
 "\UF702"="Left arrow";
 "\UF703"="Right arrow";

 "\UF704"="F1";
 "\UF705"="F2";
 "\UF706"="F3";
 "\UF707"="F4";
 "\UF708"="F5";
 "\UF709"="F6";
 "\UF70A"="F7";
 "\UF70B"="F8";
 "\UF70C"="F9";
 "\UF70D"="F10";
 "\UF70E"="F11";
 "\UF70F"="F12";

/* ... */
}
