<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="kategitblameplugin" library="kategitblameplugin" version="2" translationDomain="kategitblameplugin">
    <MenuBar>
        <Menu name="view">
            <text>&amp;View</text>
            <Action name="git_blame_show" group="view_operations"/>
            <Action name="git_blame_toggle" group="view_operations"/>
        </Menu>
    </MenuBar>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
