[Desktop Entry]
Type=Application
Name=Mount Archive
Exec=mountarchive %f
# Hidden=true
MimeType=application/x-iso9660-image;application/x-xz-compressed-tar;application/x-lzma-compressed-tar;application/x-bzip-compressed-tar;application/x-tar;application/x-compressed-tar;application/zip;application/gzip;application/bzip;application/x-cd-image;application/x-raw-disk-image;application/x-rar;
