.DS_Store
/DerivedData

# /
/build

# /syslog.xcodeproj/
/syslog.xcodeproj/*.xcworkspace
/syslog.xcodeproj/xcuserdata
/syslog.xcodeproj/*.mode1v3
/syslog.xcodeproj/*.mode2v3
/syslog.xcodeproj/*.pbxuser
/syslog.xcodeproj/*.perspectivev3
