
BasedOnStyle: InheritParentConfig
DisableFormat: false

AlwaysBreakAfterReturnType: TopLevel
BinPackParameters: false
ColumnLimit: 78
Cpp11BracedListStyle: false

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"tu_common.h"$'
    Priority:        0
  - Regex:           '^"(drm/|ir3/|tu_)'
    Priority:        4
  - Regex:           '^"(c11/|compiler/|main/|nir/|spirv/|util/|vk_|wsi_)'
    Priority:        3
  - Regex:           '^<(vulkan/)'
    Priority:        2
  - Regex:           '.*'
    Priority:        1

SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
