HFS_VERSION = 1.7
HFS_COPYRIGHT_INFO_STRING = $HFS_VERSION, Copyright Apple Inc. 1999-2016
FS_BUNDLE_PATH = /System/Library/Filesystems/hfs.fs
FS_BUNDLE_BIN_DIR = Contents/Resources
FS_BUNDLE_BIN_PATH = $FS_BUNDLE_PATH/$FS_BUNDLE_BIN_DIR
FS_BUNDLE_RESOURCES_PATH = $FS_BUNDLE_PATH/Contents/Resources
FS_BUNDLE_ENGLISH_PATH = $FS_BUNDLE_RESOURCES_PATH/en.lproj

VERSIONING_SYSTEM = apple-generic
CURRENT_PROJECT_VERSION = $(RC_ProjectSourceVersion)
ALWAYS_SEARCH_USER_PATHS = NO
USE_HEADERMAP = NO
WARNING_CFLAGS = -Wall -W -Wno-missing-field-initializers
DEAD_CODE_STRIPPING = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
SUPPORTED_PLATFORMS = macosx iphoneos
INSTALL_MODE_FLAG = a-w,a+rX
