*.o
*.lo
*.a
*.so
config.mak
*~
msgfmt
msgunfmt
msgcat
msgconv
msggrep
msgfilter
msguniq
msgcomm
msgcmp
msgattrib
msggen
msgexec
autopoint
msgmerge
msginit
gettextize
xgettext
gettext
ngettext
envsubst
