{
    NSAMPMDesignation = (AM, PM); 
    NSDateFormatString = "%A, %B %d, %Y"; 
    NSMonthNameArray = ( January,  February,  March,  April, May, June, July, August, September, October, November, December ); 
    NSShortMonthNameArray = (Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec); 
    NSShortWeekDayNameArray = (Sun, Mon, Tue, Wed, Thu, Fri, Sat); 
    NSTimeDateFormatString = "%A, %B %d, %Y %H:%M:%S %Z"; 
    NSTimeFormatString = "%H:%M:%S"; 
    NSWeekDayNameArray = (Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday); 

    NSUserDefaultsUserDirectory = "~/Library/NSUserDefaults";
}
