--- src/data/katepart5ui.rc.orig	2021-09-23 00:13:37 UTC
+++ src/data/katepart5ui.rc
@@ -139,7 +139,7 @@
     <Action name="tools_apply_wordwrap" group="tools_operations" />
   </Menu>
 
-  <Menu name="settings" noMerge="1"><text>&amp;Settings</text>
+  <Menu name="first_menu" noMerge="1">
     <Action name="set_confdlg" group="configure_merge" />
   </Menu>
 </MenuBar>
