{
  "name":"%%NAME%%",
  "version":"%%VERSION%%",
  "origin":"%%ORIGIN%%",
  "comment":"%%COMMENT%%",
  "desc":"Part of the Helium OS",
  "arch":"amd64",
  "www":"https://github.com/mszoek/helium",
  "maintainer":"%%MAINT%%",
  "prefix":"/usr"
}
