portsnap
ports
freebsd-src
dist
.vscode
*.pico
*.o
.depend-*
*.framework
*.so
*.so.debug
*.so.full
*.lo
*.la
config.log
config.status
.libs
.deps
AppKit/CGEvent.h
AppKit/KTFont.h
AppKit/NSRaise.h
Foundation/Headers
AppKit/Headers
																 
