portsnap
ports
freebsd-src
dist
.vscode
*.pico
.depend-*
*.framework
*.so.debug
*.so.full
*.lo
*.la
config.log
config.status
.libs
.deps
AppKit/CGEvent.h
AppKit/KTFont.h
AppKit/NSRaise.h
Foundation/Headers
AppKit/Headers
*.a
*.core
*.o
*.orig
*.rej
*.so
*.sw[nop]
*~
_.tinderbox.*
_.universe-toolchain
_.amd64.*
_.arm.*
_.arm64.*
_.i386.*
_.ia64.*
_.mips.*
_.pc98.*
_.powerpc.*
_.riscv.*
_.sparc64.*
_.sun4v.*
GPATH
GRTAGS
GTAGS
ID
cscope.files
cscope.in.out
cscope.out
cscope.po.out
ISO/overlays/uzip/furybsd-common-settings
ISO/overlays/uzip/furybsd-wallpapers/files/*
*.save*
*~
*.idea*
__pycache__
ISO/overlays/ramdisk/version
tags
compile_commands.json
compile_commands.events.json
tags
.clangd
.ccls-cache
