#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=
NoDisplay=false
Terminal=true
Exec=doas /usr/sbin/bsdconfig netdev
Name=Configure Network
Comment=Configure Network
Icon=/usr/local/share/icons/Tango/scalable/devices/network-wired.svg
