#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=GTK;System;
NoDisplay=false
Terminal=true
Exec=doas /usr/sbin/bsdconfig
Name=Configure FuryBSD
Comment=Configure FuryBSD
Icon=/usr/local/share/pixmaps/xfce4_xicon3.png
