[Desktop Entry]
Version=1.0
Type=Link
Name=System Information
Comment=System Information
Icon=/usr/local/share/icons/Tango/scalable/devices/system.svg
URL=http://127.0.0.1
