#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=GTK;System;
NoDisplay=false
Terminal=true
Exec=doas /home/liveuser/fury-install
Name=Install FuryBSD
Comment=Install FuryBSD
Icon=/usr/local/share/pixmaps/xfce4_xicon.png
