#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=
Exec=doas /usr/local/bin/furybsd-wifi-tool
Name=Configure Wifi
Comment=Configure Wifi
Icon=/usr/local/share/icons/Tango/scalable/devices/network-wireless.svg
