#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=
NoDisplay=false
Terminal=true
Exec=doas /usr/sbin/bsdconfig
Name=Configure FuryBSD
Comment=Configure FuryBSD
Icon=/usr/local/share/icons/Tango/scalable/devices/network-wireless.svg
