#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=
Exec=doas /usr/local/bin/furybsd-xorg-tool
Name=Configure Xorg
Comment=Configure Xorg
Icon=/usr/local/share/icons/Tango/scalable/devices/video-display.svg
