<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Install airyxOS</string>
	<key>CFBundleDisplayName</key>
	<string>Install airyxOS</string>
	<key>CFBundleIdentifier</key>
	<string>org.airyx.app.Installer</string>
	<key>CFBundleVersion</key>
	<string>0.3.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>OBJC</string>
	<key>CFBundleExecutable</key>
	<string>Install airyxOS</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2021 Airyx Project</string>
	<key>CFBundleIconFile</key>
	<string>Emblem.jpg</string>
	<key>SideImage</key>
	<string>TanukiLogo.jpg</string>
	<key>NSMainNibFile</key>
	<string>MainMenu.nib</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
