<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.private.allow-bless</key>
	<true/>
	<key>com.apple.private.kernel.get-kext-info</key>
	<true/>
	<key>com.apple.private.security.kext-management</key>
	<true/>
	<key>com.apple.rootless.storage.KernelExtensionManagement</key>
	<true/>
	<key>com.apple.security.cs.allow-unsigned-executable-memory</key>
	<true/>
	<key>com.apple.private.KextAudit.user-access</key>
	<true/>
</dict>
</plist>
