<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleI386GenericPlatform</string>
	<key>CFBundleIdentifier</key>
	<string>com.ravynos.iokit.AppleI386GenericPlatform</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleI386GenericPlatform</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Generic i386 CPU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.ravynos.iokit.AppleI386GenericPlatform</string>
			<key>IOClass</key>
			<string>AppleI386CPU</string>
			<key>IONameMatch</key>
			<string>processor</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOCPU</string>
		</dict>
		<key>Generic i386 Platform</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.ravynos.iokit.AppleI386GenericPlatform</string>
			<key>IOClass</key>
			<string>AppleI386PlatformExpert</string>
			<key>IONameMatch</key>
			<string>ACPI</string>
			<key>IOProviderClass</key>
			<string>IOPlatformExpertDevice</string>
			<key>InterruptControllerName</key>
			<string>AppleI386CPUInterruptController</string>
			<key>top-level</key>
			<array>
				<dict>
					<key>IOName</key>
					<string>bios</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017-2021 PureDarwin Project. All rights reserved.</string>
	<key>OSCompatibleVersions</key>
	<string>1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>7.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
