[Desktop Entry]
Name=Big-Dark
X-KDE-PluginInfo-Author=kole
X-KDE-PluginInfo-Name=Big-Dark
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-EnabledByDefault=true
