<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.filesystems.hfs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>hfs</string>
	<key>CFBundlePackageType</key>
	<string>fs  </string>
	<key>CFBundleShortVersionString</key>
	<string>$HFS_VERSION</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleGetInfoString</key>
	<string>$HFS_COPYRIGHT_INFO_STRING</string>
	<key>CFBundleVersion</key>
	<string>$HFS_VERSION</string>
	<key>FSMediaTypes</key>
	<dict>
		<key>Apple_Boot</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Apple_Boot</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>hfs.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
			<key>autodiskmount</key>
			<false/>
		</dict>
		<key>426F6F74-0000-11AA-AA11-00306543ECAC</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>426F6F74-0000-11AA-AA11-00306543ECAC</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>hfs.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
			<key>autodiskmount</key>
			<false/>
		</dict>
		<key>48465300-0000-11AA-AA11-00306543ECAC</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>48465300-0000-11AA-AA11-00306543ECAC</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>hfs.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
		<key>Apple_HFS</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Apple_HFS</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>hfs.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
		<key>Apple_HFSX</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Apple_HFSX</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>hfs.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
		<key>CD_ROM_Mode_1</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>CD_ROM_Mode_1</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>hfs.util</string>
			<key>FSProbeOrder</key>
			<integer>2000</integer>
		</dict>
		<key>Whole</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Leaf</key>
				<true/>
				<key>Whole</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>hfs.util</string>
			<key>FSProbeOrder</key>
			<integer>2000</integer>
		</dict>
	</dict>
	<key>FSPersonalities</key>
	<dict>
		<key>HFS</key>
		<dict>
			<key>FSMountArguments</key>
			<string></string>
			<key>FSMountExecutable</key>
			<string>mount_hfs</string>
			<key>FSName</key>
			<string>Mac OS Standard</string>
			<key>FSSubType</key>
			<integer>128</integer>
			<key>FSRepairArguments</key>
			<string>-y</string>
			<key>FSXMLOutputArgument</key>
			<string>-x</string>
			<key>FSRepairExecutable</key>
			<string>fsck_hfs</string>
			<key>FSVerificationArguments</key>
			<string>-n</string>
			<key>FSVerificationExecutable</key>
			<string>fsck_hfs</string>
			<key>FSfileObjectsAreCasePreserving</key>
			<true/>
			<key>FSfileObjectsAreCaseSensitive</key>
			<false/>
			<key>FSvolumeNameIsCasePreserving</key>
			<true/>
		</dict>
		<key>HFS+</key>
		<dict>
			<key>FSFormatArguments</key>
			<string></string>
			<key>FSFormatContentMask</key>
			<string>Apple_HFS</string>
			<key>FSFormatExecutable</key>
			<string>newfs_hfs</string>
			<key>FSFormatMinimumSize</key>
			<integer>524288</integer>
			<key>FSFormatMaximumSize</key>
			<integer>9223372034707292160</integer>
			<key>FSMountArguments</key>
			<string></string>
			<key>FSMountExecutable</key>
			<string>mount_hfs</string>
			<key>FSName</key>
			<string>Mac OS Extended</string>
			<key>FSSubType</key>
			<integer>0</integer>
			<key>FSRepairArguments</key>
			<string>-y</string>
			<key>FSXMLOutputArgument</key>
			<string>-x</string>
			<key>FSRepairExecutable</key>
			<string>fsck_hfs</string>
			<key>FSVerificationArguments</key>
			<string>-fn</string>
			<key>FSVerificationExecutable</key>
			<string>fsck_hfs</string>
			<key>FSfileObjectsAreCasePreserving</key>
			<true/>
			<key>FSfileObjectsAreCaseSensitive</key>
			<false/>
			<key>FSvolumeNameIsCasePreserving</key>
			<true/>
		</dict>
		<key>Journaled HFS+</key>
		<dict>
			<key>FSFormatArguments</key>
			<string>-J</string>
			<key>FSFormatContentMask</key>
			<string>Apple_HFS</string>
			<key>FSFormatExecutable</key>
			<string>newfs_hfs</string>
			<key>FSFormatMinimumSize</key>
			<integer>9437184</integer>
			<key>FSFormatMaximumSize</key>
			<integer>9223372034707292160</integer>
			<key>FSMountArguments</key>
			<string></string>
			<key>FSMountExecutable</key>
			<string>mount_hfs</string>
			<key>FSName</key>
			<string>Mac OS Extended (Journaled)</string>
			<key>FSSubType</key>
			<integer>1</integer>
			<key>FSRepairArguments</key>
			<string>-fy</string>
			<key>FSXMLOutputArgument</key>
			<string>-x</string>
			<key>FSRepairExecutable</key>
			<string>fsck_hfs</string>
			<key>FSVerificationArguments</key>
			<string>-fn</string>
			<key>FSVerificationExecutable</key>
			<string>fsck_hfs</string>
			<key>FSLiveVerificationArguments</key>
			<string>-l</string>
			<key>FSEncryptionName</key>
			<string>Mac OS Extended (Journaled, Encrypted)</string>
			<key>FSCoreStorageEncryptionName</key>
			<string>Mac OS Extended (Journaled, Encrypted)</string>
			<key>FSfileObjectsAreCasePreserving</key>
			<true/>
			<key>FSfileObjectsAreCaseSensitive</key>
			<false/>
			<key>FSvolumeNameIsCasePreserving</key>
			<true/>
		</dict>
		<key>Case-sensitive HFS+</key>
		<dict>
			<key>FSFormatArguments</key>
			<string>-s</string>
			<key>FSFormatContentMask</key>
			<string>Apple_HFSX</string>
			<key>FSFormatExecutable</key>
			<string>newfs_hfs</string>
			<key>FSFormatMinimumSize</key>
			<integer>4194304</integer>
			<key>FSFormatMaximumSize</key>
			<integer>9223372034707292160</integer>
			<key>FSMountArguments</key>
			<string></string>
			<key>FSMountExecutable</key>
			<string>mount_hfs</string>
			<key>FSName</key>
			<string>Mac OS Extended (Case-sensitive)</string>
			<key>FSSubType</key>
			<integer>2</integer>
			<key>FSRepairArguments</key>
			<string>-y</string>
			<key>FSXMLOutputArgument</key>
			<string>-x</string>
			<key>FSRepairExecutable</key>
			<string>fsck_hfs</string>
			<key>FSVerificationArguments</key>
			<string>-fn</string>
			<key>FSVerificationExecutable</key>
			<string>fsck_hfs</string>
			<key>FSfileObjectsAreCasePreserving</key>
			<true/>
			<key>FSfileObjectsAreCaseSensitive</key>
			<true/>
			<key>FSvolumeNameIsCasePreserving</key>
			<true/>
		</dict>
		<key>Case-sensitive Journaled HFS+</key>
		<dict>
			<key>FSFormatArguments</key>
			<string>-s -J</string>
			<key>FSFormatContentMask</key>
			<string>Apple_HFSX</string>
			<key>FSFormatExecutable</key>
			<string>newfs_hfs</string>
			<key>FSFormatMinimumSize</key>
			<integer>9437184</integer>
			<key>FSFormatMaximumSize</key>
			<integer>9223372034707292160</integer>
			<key>FSMountArguments</key>
			<string></string>
			<key>FSMountExecutable</key>
			<string>mount_hfs</string>
			<key>FSName</key>
			<string>Mac OS Extended (Case-sensitive, Journaled)</string>
			<key>FSSubType</key>
			<integer>3</integer>
			<key>FSRepairArguments</key>
			<string>-fy</string>
			<key>FSXMLOutputArgument</key>
			<string>-x</string>
			<key>FSRepairExecutable</key>
			<string>fsck_hfs</string>
			<key>FSVerificationArguments</key>
			<string>-fn</string>
			<key>FSVerificationExecutable</key>
			<string>fsck_hfs</string>
			<key>FSLiveVerificationArguments</key>
			<string>-l</string>
			<key>FSEncryptionName</key>
			<string>Mac OS Extended (Case-sensitive, Journaled, Encrypted)</string>
			<key>FSCoreStorageEncryptionName</key>
			<string>Mac OS Extended (Case-sensitive, Journaled, Encrypted)</string>
			<key>FSfileObjectsAreCasePreserving</key>
			<true/>
			<key>FSfileObjectsAreCaseSensitive</key>
			<true/>
			<key>FSvolumeNameIsCasePreserving</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
