<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOPCIFamily</string>
	<key>CFBundleGetInfoString</key>
	<string>2.9, Copyright © 2000-2011 Apple Inc. All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IOPCIFamily</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>I/O Kit PCI Family</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.9</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOPCI2PCIBridge-Name</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOPCIFamily</string>
			<key>IOClass</key>
			<string>IOPCI2PCIBridge</string>
			<key>IONameMatch</key>
			<string>pci-bridge</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>IOPCI2PCIBridge-PCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOPCIFamily</string>
			<key>IOClass</key>
			<string>IOPCI2PCIBridge</string>
			<key>IOPCIMatch</key>
			<string>0x00261011</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>IOPCI2PCIBridge-i386</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOPCIFamily</string>
			<key>IOClass</key>
			<string>IOPCI2PCIBridge</string>
			<key>IOPCIClassMatch</key>
			<string>0x06040000&amp;0xffff0000</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright Apple Computer, Inc. 2000-2008</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0b1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
