<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<string>mDNSResponder</string>
	<key>RadarComponents</key>
	<dict>
		<key>Name</key>
		<string>mDNSResponder</string>
		<key>Version</key>
		<string>all</string>
	</dict>
	<key>Tests</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>GAIPerf Advanced</string>
			<key>Description</key>
			<string>Tests correctness of resolving hostnames via DNS using the GAIPerf Advanced test suite.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>900</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>gaiperf</string>
				<string>--suite</string>
				<string>advanced</string>
				<string>--timeLimit</string>
				<string>250</string>
				<string>--format</string>
				<string>json</string>
				<string>--skipPathEval</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 1-1-1</string>
			<key>Description</key>
			<string>Tests mDNS discovery and resolution of one service instance with one one-byte TXT record, one A record, and one AAAA record.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--instanceCount</string>
				<string>1</string>
				<string>--txtSize</string>
				<string>1</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>1</string>
				<string>--countAAAA</string>
				<string>1</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 1-1-1 (No Additionals)</string>
			<key>Description</key>
			<string>Tests mDNS discovery and resolution of one service instance with one one-byte TXT record, one A record, and one AAAA record. Responses from mdnsreplier contain no additional answers.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--instanceCount</string>
				<string>1</string>
				<string>--txtSize</string>
				<string>1</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>1</string>
				<string>--countAAAA</string>
				<string>1</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--noAdditionals</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 10-100-2</string>
			<key>Description</key>
			<string>Tests mDNS discovery and resolution of ten service instances with one 100-byte TXT record, two A records, and two AAAA records.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--instanceCount</string>
				<string>10</string>
				<string>--txtSize</string>
				<string>100</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 10-100-2 (No Additionals)</string>
			<key>Description</key>
			<string>Tests mDNS discovery and resolution of ten service instances with one 100-byte TXT record, two A records, and two AAAA records. Responses from mdnsreplier contain no additional answers.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--instanceCount</string>
				<string>10</string>
				<string>--txtSize</string>
				<string>100</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--noAdditionals</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 100-500-2</string>
			<key>Description</key>
			<string>Tests mDNS discovery and resolution of 100 service instances with one 500-byte TXT record, two A records, and two AAAA records.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--instanceCount</string>
				<string>100</string>
				<string>--txtSize</string>
				<string>500</string>
				<string>--browseTime</string>
				<string>5</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 100-500-2 (No Additionals)</string>
			<key>Description</key>
			<string>Tests mDNS discovery and resolution of 100 service instances with one 500-byte TXT record, two A records, and two AAAA records. Responses from mdnsreplier contain no additional answers.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--instanceCount</string>
				<string>100</string>
				<string>--txtSize</string>
				<string>500</string>
				<string>--browseTime</string>
				<string>5</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--noAdditionals</string>
				<string>--format</string>
				<string>json</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 1-1-1 (No Cache Flush)</string>
			<key>Description</key>
			<string>Tests mDNS discovery and resolution of one service instance with one one-byte TXT record, one A record, and one AAAA record. Cache is not flushed beforehand.</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--instanceCount</string>
				<string>1</string>
				<string>--txtSize</string>
				<string>1</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>1</string>
				<string>--countAAAA</string>
				<string>1</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 1-1-1 (No Cache Flush, No Additionals)</string>
			<key>Description</key>
			<string>Tests mDNS discovery and resolution of one service instance with one one-byte TXT record, one A record, and one AAAA record. Cache is not flushed beforehand. Responses from mdnsreplier contain no additional answers.</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--instanceCount</string>
				<string>1</string>
				<string>--txtSize</string>
				<string>1</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>1</string>
				<string>--countAAAA</string>
				<string>1</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--noAdditionals</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 10-100-2 (No Cache Flush)</string>
			<key>Description</key>
			<string>Tests mDNS discovery and resolution of ten service instances with one 100-byte TXT record, two A records, and two AAAA records. Cache is not flushed beforehand.</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--instanceCount</string>
				<string>10</string>
				<string>--txtSize</string>
				<string>100</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 10-100-2 (No Cache Flush, No Additionals)</string>
			<key>Description</key>
			<string>Tests mDNS discovery and resolution of ten service instances with one 100-byte TXT record, two A records, and two AAAA records. Cache is not flushed beforehand. Responses from mdnsreplier contain no additional answers.</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--instanceCount</string>
				<string>10</string>
				<string>--txtSize</string>
				<string>100</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--noAdditionals</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 100-500-2 (No Cache Flush)</string>
			<key>Description</key>
			<string>Tests mDNS discovery and resolution of 100 service instances with one 500-byte TXT record, two A records, and two AAAA records. Cache is not flushed beforehand.</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--instanceCount</string>
				<string>100</string>
				<string>--txtSize</string>
				<string>500</string>
				<string>--browseTime</string>
				<string>5</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 100-500-2 (No Cache Flush, No Additionals)</string>
			<key>Description</key>
			<string>Tests mDNS discovery and resolution of 100 service instances with one 500-byte TXT record, two A records, and two AAAA records. Cache is not flushed beforehand. Responses from mdnsreplier contain no additional answers.</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--instanceCount</string>
				<string>100</string>
				<string>--txtSize</string>
				<string>500</string>
				<string>--browseTime</string>
				<string>5</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--noAdditionals</string>
				<string>--format</string>
				<string>json</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery w/Packet Drops 10</string>
			<key>Description</key>
			<string>Tests mDNS discovery and resolution of ten service instances with one 100-byte TXT record, two A records, and two AAAA records. The first three responses per service instance are subject to a 0.5 probability of being dropped to test query retries.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>30</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--instanceCount</string>
				<string>10</string>
				<string>--txtSize</string>
				<string>100</string>
				<string>--browseTime</string>
				<string>16</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv6</string>
				<string>--udrop</string>
				<string>0.5</string>
				<string>--mdrop</string>
				<string>0.5</string>
				<string>--maxDropCount</string>
				<string>3</string>
				<string>--format</string>
				<string>json</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery w/Packet Drops 100</string>
			<key>Description</key>
			<string>Tests mDNS discovery and resolution of 100 service instances with one 100-byte TXT record, two A records, and two AAAA records. The first three responses per service instance are subject to a 0.5 probability of being dropped to test query retries.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>30</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--instanceCount</string>
				<string>100</string>
				<string>--txtSize</string>
				<string>100</string>
				<string>--browseTime</string>
				<string>18</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv6</string>
				<string>--udrop</string>
				<string>0.5</string>
				<string>--mdrop</string>
				<string>0.5</string>
				<string>--maxDropCount</string>
				<string>3</string>
				<string>--format</string>
				<string>json</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>DotLocal Queries</string>
			<key>Description</key>
			<string>Tests DNS and mDNS queries for domain names in the local domain.</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>40</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>dotlocal</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--format</string>
				<string>json</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Service Registration</string>
			<key>Description</key>
			<string>Tests Bonjour service registration.</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>120</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>registration</string>
				<string>--format</string>
				<string>json</string>
				<string>--bats</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>KeepAlive Record Registration</string>
			<key>Description</key>
			<string>Tests KeepAlive record registrations.</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>60</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>keepalive</string>
				<string>--format</string>
				<string>json</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Probe Conflicts</string>
			<key>Description</key>
			<string>Tests various probe conflict scenarios, some of which are expected to result in service instance and record renames.</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>300</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>probeconflicts</string>
				<string>--interface</string>
				<string>lo0</string>
				<string>--format</string>
				<string>json</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>TCP Fallback</string>
			<key>Description</key>
			<string>Tests mDNSResponder&apos;s TCP fallback mechanism, which is triggered by UDP responses with invalid message IDs that would otherwise be acceptable.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>90</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>gaiperf</string>
				<string>--suite</string>
				<string>basic</string>
				<string>--timeLimit</string>
				<string>250</string>
				<string>--format</string>
				<string>json</string>
				<string>--skipPathEval</string>
				<string>--badUDPMode</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>State Dump</string>
			<key>Description</key>
			<string>1.  Tests whether the state dump can be triggered correctly, and whether the file (or stdout&apos;s output) contains the full state information. 2. Checks whether the number of state dump files has an upper limit to avoid wasting disk space.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>60</integer>
			<key>IgnoreOutput</key>
			<false/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>browseAll</string>
				<string>&amp;&amp;</string>
				<string>/bin/sh</string>
				<string>/AppleInternal/Tests/mDNSResponder/bats_test_state_dump.sh</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>DNS Proxy</string>
			<key>Description</key>
			<string>1.  Tests the DNS Proxy by doing a DNS UDP query. 2. Tests the DNS proxy by doing a DNS TCP query.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>60</integer>
			<key>IgnoreOutput</key>
			<false/>
			<key>Command</key>
			<array>
				<string>/bin/sh</string>
				<string>/AppleInternal/Tests/mDNSResponder/bats_test_proxy.sh</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Expensive/Constrained Interface</string>
			<key>Description</key>
			<string>Test the following situation:
1. The interface is set to expensive and inexpensive, and the query is set to DenyExpensive, a continuous ADD/REMOVE sequence is expected.
2. The interface is set to expensive and inexpensive, and the query does not DenyExpensive, no update is expected.
3. The interface is set to constrained and unconstrained, and the query is set to DenyConstrained, a continuous ADD/REMOVE sequence is expected.
4. The interface is set to constrained and unconstrained, and the query does not DenyConstrained, no update is expected.
5. The interface is set to expensive and constrained, and the query is set to DenyExpensive and DenyConstrained.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>1200</integer>
			<key>IgnoreOutput</key>
			<false/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>expensive_constrained_updates</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Fix Verification #1</string>
			<key>Description</key>
			<string>Fix Verification #1</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>45</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>verifyFix</string>
				<string>earlyAWDL</string>
				<string>--format</string>
				<string>json</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>Description</key>
			<string>Checks mDNSResponder for memory leaks.</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>XCTests</string>
			<key>Description</key>
			<string>mDNSResponder XCTests</string>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/XCTests/com.apple.mDNSResponder/</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>20</integer>
			<key>ShowSubtestResults</key>
			<true/>
			<key>Command</key>
			<array>
				<string>BATS_XCTEST_CMD</string>
				<string>-NSTreatUnknownArgumentsAsOpen</string>
				<string>NO</string>
				<string>-ApplePersistenceIgnoreState</string>
				<string>YES</string>
				<string>-XCTest</string>
				<string>Self</string>
				<string>Tests.xctest</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>PathEvaluationTest</string>
			<key>Description</key>
			<string>PathEvaluationTest from Tests.xctest</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>5</integer>
			<key>IgnoreOutput</key>
			<false/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>xctest</string>
				<string>-c</string>
				<string>PathEvaluationTest</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
