<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>1988-01-01</string>
		<key>OpenSourceLicense</key>
		<string>GPL</string>
		<key>OpenSourceLicenseFile</key>
		<string>cctools.txt</string>
		<key>OpenSourceProject</key>
		<string>gas</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.gnu.org/home.html</string>
		<key>OpenSourceVersion</key>
		<string>1.38.1</string>
		<key>OpenSourceURL</key>
		<string>http://ftp.gnu.org/gnu/binutils/binutils-1.38.1.tar.gz</string>
	</dict>
</array>
</plist>
