[Unit]
Description=Seat management daemon
Documentation=man:seatd(1)

[Service]
Type=simple
# Specify the group you'd like to grant access to seatd
ExecStart=seatd -g seat
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
