
BasedOnStyle: InheritParentConfig
DisableFormat: false

AlwaysBreakAfterReturnType: TopLevel
BinPackParameters: false

ColumnLimit: 78

Cpp11BracedListStyle: false

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"vn_common.h"$'
    Priority:        0
  - Regex:           '^"vn_'
    Priority:        3
  - Regex:           '^"(venus-protocol/|virtio-gpu/|vtest/)'
    Priority:        2
  - Regex:           '^"(c11/|util/|drm-uapi/|vk_|wsi_|git_)'
    Priority:        2
  - Regex:           '.*'
    Priority:        1

ForEachMacros:
  - vk_outarray_append_typed

SpaceBeforeParens: ControlStatementsExceptForEachMacros
