<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>__CF_USER_TEXT_ENCODING</key>
		<string>=0x1F5:0:0</string>
	</dict>
	<key>Label</key>
	<string>com.apple.dspluginhelperd</string>
	<key>Program</key>
	<string>/usr/libexec/dspluginhelperd</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.system.DirectoryService.legacy</key>
		<true/>
	</dict>
	<key>HopefullyExitsLast</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
</dict>
</plist>
