[D-BUS Service]
Name=com.example.SendPrefixDenied.SendPrefixAllowed.internal
Exec=/bin/false SendPrefixDenied.SendPrefixAllowed.internal
SystemdService=dbus-com.example.SendPrefixDenied.SendPrefixAllowed.internal.service
