[D-BUS Service]
Name=com.example.SendDeniedByAppArmorName
Exec=/bin/false SendDeniedByAppArmorName
SystemdService=dbus-com.example.SendDeniedByAppArmorName.service
