---
IndentWidth: 8
TabWidth: 8
ContinuationIndentWidth: 8
UseTab: ForContinuationAndIndentation
ColumnLimit: 100

AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignTrailingComments: true

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: Empty

BreakBeforeBinaryOperators: None
BreakStringLiterals: false

PenaltyExcessCharacter: 10
PenaltyBreakBeforeFirstCallParameter: 999999
PenaltyBreakAssignment: 10

MaxEmptyLinesToKeep: 1
PointerAlignment: Right
ReflowComments: true
SortIncludes: true
---
