[Desktop Entry]
Name=ravynOSMenu
Comment=System menu
Icon=face-smile
Type=Service
X-KDE-ParentApp=

X-KDE-PluginInfo-Author=Zoe Knox
X-KDE-PluginInfo-Email=zoe@pixin.net
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-Name=com.ravynos.plasma.ravynOSMenu
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=https://airyx.org/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Category=Windows and Tasks
