# EditorConfig : http://EditorConfig.org

root = true

[Makefile*]
indent_style = tab

[CMakeLists.txt]
indent_style = tab
indent_size = 4

[*.{c,h}]
indent_style = space
indent_size = 4
tab_width = 8
