<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>IOHIDFamily</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>@BUNDLE_IDENTIFIER@</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOHIDFamily</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>@BUNDLE_VERSION@</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>@BUNDLE_VERSION@</string>
	<key>IOKitPersonalities</key>
	<dict>
                <key>BSD Console</key>
                <dict>
                        <key>CFBundleIdentifier</key>
                        <string>com.apple.iokit.IOHIDFamily</string>
                        <key>IOClass</key>
                        <string>IOBSDConsole</string>
                        <key>IOMatchCategory</key>
                        <string>IOBSDConsole</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
                </dict>
		<key>HID Game Controller Pointing Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>5</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>DeviceUsage</key>
					<integer>4</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOHIDEventDriver</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
		</dict>
		<key>IOHIDEventServiceUserClient</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOProviderClass</key>
			<string>IOHIDEventService</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>HIDServiceSupport</key>
				<true/>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>7DDEECA8-A7B4-11DA-8A0E-0014519758EF</key>
					<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDLib.plugin</string>
					<key>FA12FA38-6F1A-11D4-BA0C-0005028F18D5</key>
					<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDLib.plugin</string>
				</dict>
				<key>IOUserClientClass</key>
				<string>IOHIDEventServiceUserClient</string>
			</dict>
		</dict>
		<key>IOHIDResource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDResource</string>
			<key>IOMatchCategory</key>
			<string>IOHIDResource</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
			<key>IOUserClientClass</key>
			<string>IOHIDResourceDeviceUserClient</string>
		</dict>
		<key>IOHIDSystem</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>HIDPowerOnDelayNS</key>
			<integer>500000000</integer>
			<key>HIDScrollCountBootDefault</key>
			<dict>
				<key>HIDScrollCountAccelerationFactor</key>
				<integer>163840</integer>
				<key>HIDScrollCountIgnoreMomentumScrolls</key>
				<true/>
				<key>HIDScrollCountMax</key>
				<integer>2000</integer>
				<key>HIDScrollCountMaxTimeDeltaBetween</key>
				<integer>600</integer>
				<key>HIDScrollCountMaxTimeDeltaToSustain</key>
				<integer>250</integer>
				<key>HIDScrollCountMinDeltaToStart</key>
				<integer>30</integer>
				<key>HIDScrollCountMinDeltaToSustain</key>
				<integer>20</integer>
				<key>HIDScrollCountMouseCanReset</key>
				<true/>
			</dict>
			<key>HIDServiceGlobalModifiersUsage</key>
			<integer>1</integer>
			<key>HIDServiceSupport</key>
			<true/>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>0516B563-B15B-11DA-96EB-0014519758EF</key>
				<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDNXEventRouter.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>IOHIDSystem</string>
			<key>IOMatchCategory</key>
			<string>IOHID</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
			<key>PrimaryUsage</key>
			<integer>23</integer>
			<key>PrimaryUsagePage</key>
			<integer>65280</integer>
		</dict>
		<key>R1 Merge</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOProviderClass</key>
			<string>IOHIDDevice</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>PrimaryUsagePage</key>
				<integer>65280</integer>
				<key>PrimaryUsage</key>
				<integer>27</integer>
			</dict>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>ProtectedAccess</key>
				<true/>
			</dict>
		</dict>
		<key>Xbox Wireless Controller Property Merge</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOProviderClass</key>
			<string>IOHIDDevice</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>VendorID</key>
				<integer>1118</integer>
				<key>ProductID</key>
				<integer>765</integer>
			</dict>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>HIDServiceSupport</key>
				<true/>
			</dict>
		</dict>
		<key>Xbox Wireless Controller IOService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>VendorID</key>
			<integer>1118</integer>
			<key>ProductID</key>
			<integer>765</integer>
		</dict>
		<key>Xbox Wireless Controller 0x2e0 Property Merge </key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOProviderClass</key>
			<string>IOHIDDevice</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>VendorID</key>
				<integer>1118</integer>
				<key>ProductID</key>
				<integer>736</integer>
			</dict>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>HIDServiceSupport</key>
				<true/>
			</dict>
		</dict>
		<key>Xbox Wireless Controller 0x2e0 IOService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>VendorID</key>
			<integer>1118</integer>
			<key>ProductID</key>
			<integer>736</integer>
		</dict>
		<key>Xbox Wired Controller Property Merge</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOProviderClass</key>
			<string>IOHIDDevice</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>VendorID</key>
				<integer>1118</integer>
				<key>ProductID</key>
				<integer>746</integer>
			</dict>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>HIDServiceSupport</key>
				<true/>
			</dict>
		</dict>
		<key>Xbox Wired Controller IOService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>VendorID</key>
			<integer>1118</integer>
			<key>ProductID</key>
			<integer>746</integer>
		</dict>
		<key>Xbox Adaptive Controller Property Merge</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOProviderClass</key>
			<string>IOHIDDevice</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>VendorID</key>
				<integer>1118</integer>
				<key>ProductID</key>
				<integer>2828</integer>
			</dict>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>HIDServiceSupport</key>
				<true/>
			</dict>
		</dict>
		<key>Xbox Adaptive Controller IOService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>VendorID</key>
			<integer>1118</integer>
			<key>ProductID</key>
			<integer>2828</integer>
		</dict>
		<key>Playstation Dualshock Controller Property Merge</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOProviderClass</key>
			<string>IOHIDDevice</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>VendorID</key>
				<integer>1356</integer>
				<key>ProductID</key>
				<integer>2508</integer>
			</dict>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>HIDServiceSupport</key>
				<true/>
			</dict>
		</dict>
		<key>Playstation Dualshock Controller IOService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>VendorID</key>
			<integer>1356</integer>
			<key>ProductID</key>
			<integer>2508</integer>
		</dict>
		<key>T1 DualShock 4 Controller Property Merge</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOProviderClass</key>
			<string>IOHIDDevice</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>VendorID</key>
				<integer>1356</integer>
				<key>ProductID</key>
				<integer>1476</integer>
			</dict>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>HIDServiceSupport</key>
				<true/>
			</dict>
		</dict>
		<key>T1 DualShock 4 Controller IOService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>VendorID</key>
			<integer>1356</integer>
			<key>ProductID</key>
			<integer>1476</integer>
		</dict>
		<key>Spatial Controller Property Merge</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOProviderClass</key>
			<string>IOHIDDevice</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>PrimaryUsagePage</key>
				<integer>1</integer>
				<key>PrimaryUsage</key>
				<integer>15</integer>
			</dict>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>HIDServiceSupport</key>
				<true/>
			</dict>
		</dict>
		<key>Spatial Controller IOService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>PrimaryUsagePage</key>
			<integer>1</integer>
			<key>PrimaryUsage</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>$(IOHIDFAMILY_COPYRIGHT)</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0b1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>11.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>11.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>11.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>11.0</string>
		<key>com.apple.kpi.mach</key>
		<string>11.0</string>
		<key>com.apple.kpi.private</key>
		<string>11.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>11.0</string>
		<!-- <key>com.apple.iokit.IOReportFamily</key>
		<string>1.0</string> -->
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
