<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.syslogd</string>
	<key>KeepAlive</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>EnablePressuredExit</key>
	<false/>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/sbin/syslogd</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>ASL_DISABLE</key>
		<string>1</string>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.system.logger</key>
		<true/>
	</dict>
	<key>Sockets</key>
	<dict>
		<key>BSDSystemLogger</key>
		<dict>
			<key>SockPathName</key>
			<string>/var/run/syslog</string>
			<key>SockType</key>
			<string>dgram</string>
			<key>SockPathMode</key>
			<integer>438</integer>
		</dict>
	</dict>
	<key>Disabled</key>
	<true/>
</dict>
</plist>
