<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="externaltools" version="5" translationDomain="kateexternaltoolsplugin">
  <MenuBar>
    <Menu name="tools"><text>&amp;Tools</text>
      <Action name="tools_external" />
    </Menu>
  </MenuBar>
  <ToolBar name="mainToolBar" noMerge="1"><text>Main Toolbar</text>
  </ToolBar>
</gui>
