[Desktop Entry]
Type=Action
Name=Eject
Name[de]=Auswerfen
Icon=media-eject
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=inode/mount-point;
Exec=sudo eject /dev/%w
