TAGS
tags
.deps
.libs
output
Makefile
Makefile.in
ref.hash
ref.list
any2ppm
.any2ppm
.any2ppm.pid
.any2ppm.errors
cairo-test-constructors.c
cairo-test-trace
cairo-test-suite
pdf2png
ps2png
svg2png
callgrind.out.*
valgrind-log
*.manifest
*.gcda
*.gcno
*.exe
*.exe.so
*.obj
*.ilk
*.pdb
*.la
*.lo
*.log
*.suo
*.trs
*.o
*~
.*.sw?
make-cairo-test-constructors
