<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ApplePS2Controller</string>
	<key>CFBundleGetInfoString</key>
	<string>1.1.0, Copyright © 2018 PureDarwin.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.ApplePS2Controller</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple PS/2 Controller</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ApplePS2Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.ApplePS2Controller</string>
			<key>IOClass</key>
			<string>ApplePS2Controller</string>
			<key>IONameMatch</key>
			<string>ps2controller</string>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
                <key>ApplePS2Keyboard</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.ApplePS2Controller</string>
			<key>IOClass</key>
			<string>ApplePS2Keyboard</string>
			<key>IOProviderClass</key>
			<string>ApplePS2KeyboardDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 PureDarwin.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
                <key>com.apple.iokit.IOHIDFamily</key>
                <string>1.5.2</string>
		<key>com.apple.kpi.iokit</key>
		<string>1.1</string>
		<key>com.apple.kpi.libkern</key>
		<string>1.1</string>
		<key>com.apple.kpi.mach</key>
		<string>1.1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
