[Desktop Entry]
Name=Big-Dark
X-KDE-PluginInfo-Author=mkole
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=Big-Dark
X-KDE-PluginInfo-Version=.0.4
X-KDE-PluginInfo-Website=

[Wallpaper]
defaultWallpaperTheme=Big-Dark
defaultFileSuffix=.png
defaultHeight=1920
defaultWidth=1080
