<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>System Preferences</string>
	<key>CFBundleDisplayName</key>
	<string>System Preferences</string>
	<key>CFBundleIdentifier</key>
	<string>com.ravynos.Preferences</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>OBJC</string>
	<key>CFBundleExecutable</key>
	<string>System Preferences</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2024 Zoe Knox</string>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>NSPrincipalClass</key>
	<string>SystemPreferences</string>
</dict>
</plist>
