Welcome to ravynOS __VERSION__ (__CODENAME__)!

** DEVELOPER PREVIEW RELEASE **


Although ravynOS is mostly compatible with FreeBSD, please
do not bother the FreeBSD developers with ravynOS issue reports 
Report all issues at https://github.com/ravynsoft/ravynos/issues.

Edit /etc/motd to change this login announcement.
