# This configuration file contains the default values for AC_TRY_RUN 
# or AC_RUN_IFELSE checks performed by the configure script.
cross_utf8literal_ok=no
cross_reuseaddr_ok=0
cross_gs_cv_objc_works=yes
cross_gs_cv_objc_compiler_supports_constant_string_class=no
cross_gs_cv_objc_load_method_worked=no
cross_have_poll=no
cross_VSPRINTF_RETURNS_LENGTH=1
cross_VASPRINTF_RETURNS_LENGTH=1
cross_NEED_WORD_ALIGNMENT=1
cross_working_register_printf=1
cross_wide_register_printf=1
cross_gs_cv_program_invocation_name_worked=no
cross_CMDLINE_TERMINATED=0
cross_have_kvm_env=0
cross_ffi_ok=yes
cross_non_fragile=no
cross_have_unexpected=no
cross_safe_initialize=no
cross_found_iconv_libc=no
cross_found_iconv_liconv=no
cross_found_iconv_lgiconv=no
cross_objc2_runtime=0

# Enable for true cross build
if test "$cross_compiling"="yes"; then
  ac_cv_func_setpgrp_void=yes
fi
