[Desktop Entry]
Name=Big-Light
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Name=Big-Light
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-EnabledByDefault=true
