tags
TAGS
*.o
*.o.c
*.orig
*.a
*.so
*.dll
*~
.*.sw?
\#*

/stamp-h
/autom4te.cache

CVS
.#*

Src/Makemod
Src/tags
Src/TAGS
Src/zshcurses.h
Src/zshpaths.h
Src/zshterm.h
Src/zshxmods.h

Test/*.tmp
/.project
