<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.mDNSResponder.dnsproxy</key>
	<true/>
	<key>com.apple.mDNSResponder_Helper</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>preferences.plist</string>
	</array>
	<key>com.apple.private.nehelper.privileged</key>
	<true/>
	<key>com.apple.networkd_privileged</key>
	<true/>
</dict>
</plist>
