*.o
*.pc
*.la
*.lo
*.swp
*~
*.sig
*.tar.*
*.announce
*.patch
*.rej
*.trs
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
.libs/
.deps/
