<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>IOACPIFamily</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IOACPIFamily</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>I/O Kit ACPI Family</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ACPI Platform Expert</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOACPIFamily</string>
			<key>IOClass</key>
			<string>ACPIPlatformExpert</string>
			<key>IONameMatch</key>
			<string>ACPI</string>
			<key>IOProviderClass</key>
			<string>IOPlatformExpertDevice</string>
			<key>IOProbeScore</key>
            <integer>10000</integer>
		</dict>
		<key>ACPI X86 CPU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOACPIFamily</string>
			<key>IOClass</key>
			<string>ACPICPU</string>
			<key>IONameMatch</key>
			<string>processor</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOCPU</string>
		</dict>
		<key>ACPI RTC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOACPIFamily</string>
			<key>IOClass</key>
			<string>ACPIRTC</string>
			<key>IOProviderClass</key>
			<string>ACPIPlatformExpert</string>
			<key>IOProbeScore</key>
			<integer>9001</integer>
		</dict>
		<key>EFI NVRAM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOACPIFamily</string>
			<key>IOClass</key>
			<string>EFINVRAM</string>
			<key>IOProviderClass</key>
			<string>ACPIPlatformExpert</string>
			<key>IOProbeScore</key>
			<integer>9001</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 ravynOS Project. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>7.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.driver.AppleAPIC</key>
        <string>1.4</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
</dict>
</plist>
