#include "<DEVELOPER_DIR>/Makefiles/CoreOS/Xcode/BSD.xcconfig"

VERSION_INFO_PREFIX=__attribute__((visibility("hidden")))
PRODUCT_NAME = $(TARGET_NAME).$(FRAMEWORK_VERSION)
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
CODE_SIGN_IDENTITY = -
PROVISIONING_PROFILE =
INSTALL_PATH = /usr/lib
COPY_PHASE_STRIP = YES
FRAMEWORK_VERSION = 9
PRIVATE_HEADERS_FOLDER_PATH = /usr/local/include
PUBLIC_HEADERS_FOLDER_PATH = /usr/include
ALWAYS_SEARCH_USER_PATHS = NO
OTHER_CFLAGS = -fno-common
WARNING_CFLAGS = -Wall
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = USE_DNS_PSELECT
GCC_TREAT_WARNINGS_AS_ERRORS = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_ENABLE_OBJC_EXCEPTIONS = YES
INSTALLHDRS_SCRIPT_PHASE = YES
IS_ZIPPERED = YES
SUPPORTS_TEXT_BASED_API = YES
TAPI_VERIFY_MODE = Pedantic
OTHER_TAPI_FLAGS = -D__BIND_INSTALLAPI -extra-public-header $(SRCROOT)/installapi.h
