
BasedOnStyle: InheritParentConfig
DisableFormat: false

ColumnLimit: 120
SortIncludes: false

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true

PenaltyExcessCharacter: 75

AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 3
IndentCaseLabels: true

BreakBeforeTernaryOperators: false 

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterEnum: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

FixNamespaceComments: true
KeepEmptyLinesAtTheStartOfBlocks: true

AlwaysBreakAfterReturnType: TopLevel

BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: false

SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpacesInContainerLiterals: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 3
SpacesInAngles: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInCStyleCastParentheses: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceInEmptyParentheses: false
SpaceInEmptyBlock: true

MaxEmptyLinesToKeep: 3
