[D-BUS Service]
; Disable gvfs-udisks2-volume-monitor
; https://bugs.freedesktop.org/show_bug.cgi?id=50955#c3
; FIXME: Find a way that does not involve $HOME
; and that does not break when the user updates/upgrades the system
Name=org.gtk.vfs.UDisks2VolumeMonitor
