#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=
Exec=/usr/local/bin/furybsd-gnome-helper
TryExec=/usr/local/bin/furybsd-gnome-helper
Name=Configure Gnome
Comment=Configure Gnome
Icon=gnome-system
