<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSActionCell.value</key>
	<dict>
		<key>NSCreatesSortDescriptors</key>
		<true/>
	</dict>
	<key>NSCell.value</key>
	<dict>
		<key>NSCreatesSortDescriptors</key>
		<false/>
	</dict>
	<key>NSObject.value</key>
	<dict>
		<key>NSAllowsEditingMultipleValuesSelection</key>
		<true/>
		<key>NSRaisesForNotApplicableKeys</key>
		<true/>
	</dict>
	<key>NSTextField.value</key>
	<dict>
		<key>NSNullPlaceholder</key>
		<string></string>
		<key>NSMultipleValuesPlaceholder</key>
		<string>Multiple values</string>
		<key>NSNoSelectionPlaceholder</key>
		<string>No selection</string>
	</dict>
	<key>NSTextFieldCell.value</key>
	<dict>
		<key>NSNullPlaceholder</key>
		<string></string>
		<key>NSMultipleValuesPlaceholder</key>
		<string>Multiple values</string>
		<key>NSNoSelectionPlaceholder</key>
		<string>No selection</string>
	</dict>
	<key>NSProgressIndicator.value</key>
	<dict>
		<key>NSNullPlaceholder</key>
		<integer>0</integer>
	</dict>
	<key>NSImageView.hidden</key>
	<dict>
		<key>NSNullPlaceholder</key>
		<false/>
	</dict>
</dict>
</plist>
