#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=
Exec=sudo -E /usr/bin/furybsd-wifi-tool
TryExec=/usr/bin/furybsd-wifi-tool
Name=Wireless Networks
Comment=Configure WLAN
Icon=network-wireless
