#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=
Exec=sudo /usr/bin/furybsd-xorg-tool
TryExec=/usr/bin/furybsd-xorg-tool
Name=Configure Xorg
Comment=Configure Xorg
Icon=video-display
