#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=System;
NoDisplay=false
Exec=sudo /usr/local/bin/create-livemedia
TryExec=/usr/local/bin/create-livemedia
Name=Create FuryBSD Live Media
Comment=Download a FuryBSD Live image and write it to an attached storage device
Icon=livemedia
