<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>certificate</key>
    <string>Apple Development</string>

    <key>files</key>
    <dict>
        <key>/System/Library/Extensions/corecrypto.kext</key>
        <dict>
            <key>identifier</key>
            <string>org.puredarwin.kext.corecrypto</string>
        </dict>
    </dict>
</dict>
</plist>
