<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT-OPTIONS</key>
	<dict>
		<key>Enable-Oversize-Messages</key>
		<true/>
	</dict>
	<key>service.carplay</key>
	<dict>
		<key>TTL</key>
		<dict>
			<key>Default</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>hidsignpost</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
</dict>
</plist>
