[Desktop Entry]
GenericName=Text Editor
GenericName[ar]=محرّر نصوص
GenericName[ast]=Editor de testu
GenericName[az]=Mətn redaktoru
GenericName[bg]=Текстов редактор
GenericName[bs]=Uređivač teksta
GenericName[ca]=Editor de text
GenericName[ca@valencia]=Editor de text
GenericName[cs]=Textový editor
GenericName[da]= Teksteditor
GenericName[de]=Texteditor
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_GB]=Text Editor
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu-editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstimuokkain
GenericName[fr]=Éditeur de texte
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de textos
GenericName[he]=עורך טקסט
GenericName[hu]=Szövegszerkesztő
GenericName[ia]=Editor de texto
GenericName[id]=Pengedit Teks
GenericName[it]=Editor di testo
GenericName[ja]=テキストエディタ
GenericName[kk]=Мәтін редакторы
GenericName[km]=កម្មវិធី​និពន្ធ​អត្ថបទ​​
GenericName[ko]=텍스트 편집기
GenericName[lt]=Rašyklė
GenericName[lv]=Teksta redaktors
GenericName[mr]=पाठ्य संपादक
GenericName[ms]=Penyunting Teks
GenericName[nb]=Skriveprogram
GenericName[nds]=Texteditor
GenericName[nl]=Tekstbewerker
GenericName[nn]=Skriveprogram
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de Texto
GenericName[ro]=Redactor de text
GenericName[ru]=Текстовый редактор
GenericName[si]=පෙළ සකසනය
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sr]=Уређивач текста
GenericName[sr@ijekavian]=Уређивач текста
GenericName[sr@ijekavianlatin]=Uređivač teksta
GenericName[sr@latin]=Uređivač teksta
GenericName[sv]=Texteditor
GenericName[tg]=Таҳриргари матн
GenericName[tr]=Metin Düzenleyici
GenericName[ug]=تېكىست تەھرىرلىگۈچ
GenericName[uk]=Текстовий редактор
GenericName[vi]=Trình biên tập văn bản
GenericName[x-test]=xxText Editorxx
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
Name=KWrite
Name[ar]=كاتبك
Name[ast]=KWrite
Name[az]=KWrite
Name[bg]=KWrite
Name[bs]=Kwrite
Name[ca]=KWrite
Name[ca@valencia]=KWrite
Name[cs]=KWrite
Name[da]=KWrite
Name[de]=KWrite
Name[el]=KWrite
Name[en_GB]=KWrite
Name[es]=KWrite
Name[et]=KWrite
Name[eu]=KWrite
Name[fi]=KWrite
Name[fr]=KWrite
Name[ga]=KWrite
Name[gl]=KWrite
Name[he]=KWrite
Name[hu]=KWrite
Name[ia]=Kwrite
Name[id]=KWrite
Name[it]=KWrite
Name[ja]=KWrite
Name[kk]=KWrite
Name[km]=KWrite
Name[ko]=KWrite
Name[lt]=KWrite
Name[lv]=KWrite
Name[mr]=केराइट
Name[ms]=KWrite
Name[nb]=KWrite
Name[nds]=KWrite
Name[nl]=KWrite
Name[nn]=KWrite
Name[pa]=ਕੇ-ਲੇਖਕ
Name[pl]=KWrite
Name[pt]=KWrite
Name[pt_BR]=KWrite
Name[ro]=KWrite
Name[ru]=KWrite
Name[si]=KWrite
Name[sk]=KWrite
Name[sl]=KWrite
Name[sr]=К‑писање
Name[sr@ijekavian]=К‑писање
Name[sr@ijekavianlatin]=K‑pisanje
Name[sr@latin]=K‑pisanje
Name[sv]=Kwrite
Name[tg]=Барномаи KWrite
Name[tr]=KWrite
Name[ug]=KWrite
Name[uk]=KWrite
Name[vi]=KWrite
Name[x-test]=xxKWritexx
Name[zh_CN]=KWrite
Name[zh_TW]=KWrite
Comment=KDE Text Editor
Comment[ar]=محرّر نصوص لكدي
Comment[ast]=Editor de testu de KDE
Comment[az]=KDE mətn redaktoru
Comment[ca]=Editor de text pel KDE
Comment[ca@valencia]=Editor de text pel KDE
Comment[cs]=Textový editor pro KDE
Comment[da]=KDE Teksteditor
Comment[de]=KDE-Texteditor
Comment[el]=Επεξεργαστής κειμένου για το KDE
Comment[en_GB]=KDE Text Editor
Comment[es]=Editor de texto de KDE
Comment[et]=KDE tekstiredaktor
Comment[eu]=KDE testu-editorea
Comment[fi]=KDE:n tekstimuokkain
Comment[fr]=Éditeur de texte de KDE
Comment[gl]=Editor de textos de KDE
Comment[he]=עורך טקסט של KDE
Comment[hu]=Szövegszerkesztő
Comment[ia]=Editor de texto de KDE
Comment[id]=Pengedit Teks KDE
Comment[it]=Editor di testo di KDE
Comment[ko]=KDE 텍스트 편집기
Comment[lt]=KDE rašyklė
Comment[nb]=KDE tekstredigering
Comment[nl]=KDE tekstbewerker
Comment[nn]=Skriveprogram for KDE
Comment[pa]=KDE ਟੈਕਸਟ ਐਡੀਟਰ
Comment[pl]=Edytor tekstu KDE
Comment[pt]=Editor de Texto do KDE
Comment[pt_BR]=Editor de texto do KDE
Comment[ro]=Redactor de text KDE
Comment[ru]=Текстовый редактор от KDE
Comment[sk]=KDE textový editor
Comment[sl]=Urejevalnik besedil za KDE
Comment[sr]=КДЕ‑ов уређивач текста
Comment[sr@ijekavian]=КДЕ‑ов уређивач текста
Comment[sr@ijekavianlatin]=KDE‑ov uređivač teksta
Comment[sr@latin]=KDE‑ov uređivač teksta
Comment[sv]=KDE texteditor
Comment[tr]=KDE Metin Düzenleyici
Comment[uk]=Текстовий редактор KDE
Comment[vi]=Trình biên tập văn bản của KDE
Comment[x-test]=xxKDE Text Editorxx
Comment[zh_CN]=KDE 文本编辑器
Comment[zh_TW]=KDE 文字編輯器
MimeType=text/plain;
Exec=kwrite %U
StartupNotify=true
Icon=kwrite
X-DocPath=kwrite/index.html
Type=Application
Terminal=false
InitialPreference=8
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.kwrite
Categories=Qt;KDE;Utility;TextEditor;
StartupWMClass=kwrite
