<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cea-modes</key>
	<array>
		<false/>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANcjgAEAAAAA1yOAAQAAAADXI4ABAAAAAIACAACgAAAAEAAAAGAAAADgAQAALQAAAAoAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMD8mwEAAAAAwPybAQAAAADA/JsBAAAAANACAACKAAAAEAAAAD4AAADgAQAALQAAAAkAAAAGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMD8mwEAAAAAwPybAQAAAADA/JsBAAAAANACAACKAAAAEAAAAD4AAADgAQAALQAAAAkAAAAGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABD3bAQAAAAAEPdsBAAAAAAQ92wEAAAAAAAFAAByAQAAbgAAACgAAADQAgAAHgAAAAUAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAABD3bAQAAAAAEPdsBAAAAAAQ92wEAAAAAIAHAAAYAQAAWAAAACwAAAA4BAAALQAAAAQAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACDu2QgAAAAAIO7ZCAAAAAAg7tkIAAAAAIAHAAAYAQAAWAAAACwAAAA4BAAALQAAAAQAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMD8mwEAAAAAwPybAQAAAADA/JsBAAAAANACAACQAAAADAAAAEAAAABAAgAAMQAAAAUAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMD8mwEAAAAAwPybAQAAAADA/JsBAAAAANACAACQAAAADAAAAEAAAABAAgAAMQAAAAUAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABD3bAQAAAAAEPdsBAAAAAAQ92wEAAAAAAAFAAC8AgAAuAEAACgAAADQAgAAHgAAAAUAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAABD3bAQAAAAAEPdsBAAAAAAQ92wEAAAAAIAHAADQAgAAEAIAACwAAAA4BAAALQAAAAQAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACDu2QgAAAAAIO7ZCAAAAAAg7tkIAAAAAIAHAADQAgAAEAIAACwAAAA4BAAALQAAAAQAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABD3bAQAAAAAEPdsBAAAAAAQ92wEAAAAAIAHAAA+AwAAfgIAACwAAAA4BAAALQAAAAQAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABD3bAQAAAAAEPdsBAAAAAAQ92wEAAAAAIAHAADQAgAAEAIAACwAAAA4BAAALQAAAAQAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABD3bAQAAAAAEPdsBAAAAAAQ92wEAAAAAIAHAAAYAQAAWAAAACwAAAA4BAAALQAAAAQAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<false/>
		<false/>
		<false/>
		<false/>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAACiSgQAAAAAAKJKBAAAAAAAokoEAAAAAIAHAACAAQAAIAAAAKgAAAA4BAAAqgAAAC4AAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAACDu2QgAAAAAIO7ZCAAAAAAg7tkIAAAAAIAHAADQAgAAEAIAACwAAAA4BAAALQAAAAQAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACDu2QgAAAAAIO7ZCAAAAAAg7tkIAAAAAAAFAAC8AgAAuAEAACgAAADQAgAAHgAAAAUAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAID5NwMAAAAAgPk3AwAAAACA+TcDAAAAANACAACQAAAADAAAAEAAAABAAgAAMQAAAAUAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAID5NwMAAAAAgPk3AwAAAACA+TcDAAAAANACAACQAAAADAAAAEAAAABAAgAAMQAAAAUAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<false/>
		<false/>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAACDu2QgAAAAAIO7ZCAAAAAAg7tkIAAAAAIAHAAAYAQAAWAAAACwAAAA4BAAALQAAAAQAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACDu2QgAAAAAIO7ZCAAAAAAg7tkIAAAAAAAFAAByAQAAbgAAACgAAADQAgAAHgAAAAUAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAID5NwMAAAAAgPk3AwAAAACA+TcDAAAAANACAACKAAAAEAAAAD4AAADgAQAALQAAAAkAAAAGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAID5NwMAAAAAgPk3AwAAAACA+TcDAAAAANACAACKAAAAEAAAAD4AAADgAQAALQAAAAkAAAAGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<false/>
		<false/>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADzbwYAAAAAAPNvBgAAAAAA828GAAAAANACAACQAAAADAAAAEAAAABAAgAAMQAAAAUAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADzbwYAAAAAAPNvBgAAAAAA828GAAAAANACAACQAAAADAAAAEAAAABAAgAAMQAAAAUAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<false/>
		<false/>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOGYcQYAAAAA4ZhxBgAAAADhmHEGAAAAANACAACKAAAAEAAAAD4AAADgAQAALQAAAAkAAAAGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOGYcQYAAAAA4ZhxBgAAAADhmHEGAAAAANACAACKAAAAEAAAAD4AAADgAQAALQAAAAkAAAAGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<false/>
		<false/>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEFfigMAAAAAQV+KAwAAAABBX4oDAAAAAAAFAADkBwAA4AYAACgAAADQAgAAHgAAAAUAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABD3bAQAAAAAEPdsBAAAAAAQ92wEAAAAAAAFAAB4CgAAdAkAACgAAADQAgAAHgAAAAUAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABD3bAQAAAAAEPdsBAAAAAAQ92wEAAAAAAAFAADkBwAA4AYAACgAAADQAgAAHgAAAAUAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEDcsxEAAAAAQNyzEQAAAABA3LMRAAAAAIAHAAAYAQAAWAAAACwAAAA4BAAALQAAAAQAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEDcsxEAAAAAQNyzEQAAAABA3LMRAAAAAIAHAADQAgAAEAIAACwAAAA4BAAALQAAAAQAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
	</array>
	<key>hdmi-vic-modes</key>
	<array>
		<false/>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEDcsxEAAAAAQNyzEQAAAABA3LMRAAAAAAAPAAAwAgAAsAAAAFgAAABwCAAAWgAAAAgAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEDcsxEAAAAAQNyzEQAAAABA3LMRAAAAAAAPAACgBQAAIAQAAFgAAABwCAAAWgAAAAgAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEDcsxEAAAAAQNyzEQAAAABA3LMRAAAAAAAPAAB8BgAA/AQAAFgAAABwCAAAWgAAAAgAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEDcsxEAAAAAQNyzEQAAAABA3LMRAAAAAAAQAAB8BQAA/AMAAFgAAABwCAAAWgAAAAgAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
	</array>
	<key>cvt-established-ids</key>
	<array>
		<data>AAACgAAAAeAAAAA8AAAAAg==</data>
		<data>AAADIAAAAlgAAAA8AAAAAg==</data>
		<data>AAAEAAAAAwAAAAA8AAAAAg==</data>
		<data>AAAFAAAAAwAAAAA8AAAAAA==</data>
		<data>AAAFAAAAAwAAAAA8AAAAAg==</data>
		<data>AAAFAAAABAAAAAA8AAAAAg==</data>
		<data>AAAFeAAABBoAAAA8AAAAAA==</data>
		<data>AAAFeAAABBoAAABLAAAAAA==</data>
		<data>AAAFeAAABBoAAABVAAAAAA==</data>
		<data>AAAFeAAABBoAAAA8AAAAAg==</data>
		<data>AAAGQAAABLAAAAA8AAAAAA==</data>
		<data>AAAGQAAABLAAAABLAAAAAA==</data>
		<data>AAAGQAAABLAAAABVAAAAAA==</data>
		<data>AAAGQAAABLAAAAA8AAAAAg==</data>
		<data>AAAIAAAABgAAAAA8AAAAAA==</data>
		<data>AAAIAAAABgAAAABLAAAAAA==</data>
		<data>AAAIAAAABgAAAABVAAAAAA==</data>
		<data>AAAIAAAABgAAAAA8AAAAAg==</data>
		<data>AAADUAAAAeAAAAA8AAAAAAAAAjo=</data>
		<data>AAADUAAAAeAAAAA8AAAAAg==</data>
		<data>AAAFUAAAAwAAAAA8AAAAAAAAAk4=</data>
		<data>AAAFUAAAAwAAAAA8AAAAAg==</data>
		<data>AAAHgAAABDgAAAA8AAAAAA==</data>
		<data>AAAHgAAABDgAAAA8AAAAAg==</data>
		<data>AAAHgAAABLAAAAA8AAAAAA==</data>
		<data>AAAHgAAABLAAAAA8AAAAAg==</data>
	</array>
	<key>established-ids</key>
	<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANwAAAEGAAAAzAAAAMgAAAC+AAAAAAAAAKoAAAC6AAAAuAAAALYAAAC0AAAAmgAAAJgAAACMAAAAlgAAAAAAAAAA</data>
	<key>gtf-refresh-rates</key>
	<array>
		<integer>60</integer>
		<integer>75</integer>
		<integer>85</integer>
		<integer>90</integer>
		<integer>96</integer>
		<integer>100</integer>
		<integer>120</integer>
	</array>
	<key>gtf-resolutions</key>
	<array>
		<integer>640</integer>
		<integer>800</integer>
		<integer>1024</integer>
		<integer>1280</integer>
		<integer>50332928</integer>
		<integer>67110144</integer>
		<integer>1344</integer>
		<integer>1400</integer>
		<integer>1600</integer>
		<integer>70780800</integer>
		<integer>1920</integer>
		<integer>100665344</integer>
		<integer>2304</integer>
	</array>
	<key>gtf-resolutions-wide</key>
	<array>
		<integer>640</integer>
		<integer>800</integer>
		<integer>31458128</integer>
		<integer>1024</integer>
		<integer>1280</integer>
		<integer>67110144</integer>
		<integer>50333008</integer>
		<integer>1600</integer>
		<integer>70780800</integer>
		<integer>1920</integer>
		<integer>100665344</integer>
		<integer>2304</integer>
	</array>
	<key>irb-timing-ids</key>
	<dict>
		<key>1678028860</key>
		<integer>600</integer>
	</dict>
	<key>scale-resolutions</key>
	<array>
		<integer>640</integer>
		<integer>800</integer>
		<integer>1024</integer>
		<data>AAAFAAAAAtAAAAABAQAAAAAAAAA=</data>
		<integer>1280</integer>
		<integer>1344</integer>
		<data>AAAFoAAAA4QAAAABACAAAAAAAAA=</data>
		<data>AAAGkAAABBoAAAABACAAAAAAAAA=</data>
		<integer>1600</integer>
		<data>AAAHgAAABDgAAAABASAAAAAAAAA=</data>
		<data>AAAHgAAABLAAAAABACAAAAAAAAA=</data>
		<integer>1920</integer>
		<integer>2048</integer>
		<data>AAAKAAAABaAAAAABACAAAAAAAAA=</data>
		<data>AAAKAAAABkAAAAABACAAAAAAAAA=</data>
	</array>
	<key>scale-resolutions-4k</key>
	<array>
		<integer>640</integer>
		<integer>800</integer>
		<integer>1024</integer>
		<data>AAAFAAAAAtAAAAABAQAAAAAAAAA=</data>
		<integer>1280</integer>
		<integer>1344</integer>
		<data>AAAFoAAAA4QAAAABACAAAAAAAAA=</data>
		<data>AAAGkAAABBoAAAABACAAAAAAAAA=</data>
		<integer>1600</integer>
		<data>AAAHgAAABDgAAAABASAAAAAAAAA=</data>
		<data>AAAHgAAABLAAAAABACAAAAAAAAA=</data>
		<integer>1920</integer>
		<integer>2048</integer>
		<real>2304</real>
		<real>2560</real>
		<data>AAAKAAAABaAAAAABACAAAAAAAAA=</data>
		<data>AAAKAAAABkAAAAABACAAAAAAAAA=</data>
		<real>3008</real>
		<real>3200</real>
		<real>3360</real>
		<real>3840</real>
		<real>4096</real>
		<real>4608</real>
		<real>5120</real>
		<real>6016</real>
		<integer>6400</integer>
		<real>7680</real>
		<data>AAAIAAAAAAAAAAAJAKAAAA==</data>
		<data>AAAJAAAAAAAAAAAJAKAAAA==</data>
		<data>AAAKAAAAAAAAAAAJAKAAAA==</data>
		<data>AAALwAAAAAAAAAAJAKAAAA==</data>
		<data>AAANIAAAAAAAAAAJAKAAAA==</data>
		<data>AAAPAAAAAAAAAAAJAKAAAA==</data>
		<data>AAAQAAAAAAAAAAAJAKAAAA==</data>
		<data>AAASAAAAAAAAAAAJAKAAAA==</data>
		<data>AAAUAAAAAAAAAAAJAKAAAA==</data>
		<data>AAAXgAAAAAAAAAAJAKAAAA==</data>
		<data>AAAZAAAAAAAAAAAJAKAAAA==</data>
		<data>AAAeAAAAAAAAAAAJAKAAAA==</data>
	</array>
	<key>std-modes</key>
	<dict>
		<key>140</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABzW0AAAAAAAHMgqAAAAAAAc1tAAAAAoAAAADgAAAAQAAAAEAAAAHgAAAALQAAAAMAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>150</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABgDdgAAAAAAF/TQAAAAAAAYA3YAAAAoAAAACgAAAACAAAAGAAAAHgAAAALQAAAAIAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>152</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB4KbgAAAAAAHgpuAAAAAAAeCm4AAAAoAAAADAAAAAEAAAACgAAAHgAAAAKAAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>154</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB4KbgAAAAAAHgpuAAAAAAAeCm4AAAAoAAAADIAAAAEAAAAEAAAAHgAAAAFAAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>158</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACJVEAAAAAAAIlUQAAAAAAAiVRAAAAAoAAAADAAAAAOAAAADgAAAHgAAAAHQAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>160</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADagYAAAAAAANp3vAAAAAAA2otEAAAAoAAAADAAAAAIAAAAFAAAANmAAAAMAAAAAMAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>165</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADTETQAAAAAANMHcAAAAAAA0xr4AAAAoAAAADgAAAAKAAAAEgAAAMyAAAAJAAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>170</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADagYAAAAAAANlwEAAAAAAA2oGAAAAA0AAAAFAAAAAIAAAAEAAAAJwAAAAKwAAAAIAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>180</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACJVEAAAAAAAIlUQAAAAAAAiVRAAAAAyAAAADgAAAAGAAAAEgAAAJYAAAAGQAAAAEAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>182</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACYloAAAAAAAJhSJAAAAAAAmJaAAAAAyAAAAEAAAAAKAAAAIAAAAJYAAAAHAAAAAEAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>184</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC+vCAAAAAAAL49LAAAAAAAvrwgAAAAyAAAADwAAAAOAAAAHgAAAJYAAAAQgAAACUAAAAGAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>186</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC809gAAAAAALzT2AAAAAAAvNPYAAAAyAAAAEAAAAAEAAAAFAAAAJYAAAAGQAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>188</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADWk6QAAAAAANaTpAAAAAAA1pOkAAAAyAAAAD4AAAAIAAAAEAAAAJYAAAAHwAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>190</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD39JAAAAAAAPd1nAAAAAAA9/SQAAABAAAAAFAAAAAGAAAAIgAAAMAAAAAJgAAAAMAAAAGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>200</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEeGjAAAAAAAR4aMAAAAAABHhowAAABAAAAAEwAAAAGAAAAIgAAAMAAAAAJgAAAAMAAAAGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>204</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEsaEwAAAAAASxoTAAAAAABLGhMAAABAAAAAEgAAAAEAAAAGAAAAMAAAAAIAAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>208</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFofSgAAAAAAWh9KAAAAAABaH0oAAABAAAAAFgAAAAMAAAAGAAAAMAAAAAKAAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>220</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAF9eEAAAAAAAXyEHAAAAAABfXhAAAABIAAAAEwAAAAIAAAAIAAAANmAAAALQAAAAMAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>250</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgpuAAAAAAAeCm4AAAAAAB4KbgAAABQAAAAGQAAAAEAAAAJAAAAPAAAAAKAAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>252</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGb/MAAAAAAAZvy/AAAAAABnAaEAAABQAAAAIIAAAAYAAAAHAAAAPAAAAAKAAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>254</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI2e4gAAAAAAjZxxAAAAAACNoVMAAABQAAAAHAAAAAQAAAAKAAAAPAAAAAMwAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>260</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGb/MAAAAAAAZv8wAAAAAABm/zAAAABQAAAAGYAAAAMAAAAHAAAAQAAAAAKgAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>262</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIC+/AAAAAAAgL78AAAAAACAvvwAAABQAAAAGYAAAAEAAAAJAAAAQAAAAAKgAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>268</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJY0JgAAAAAAljQmAAAAAACWNCYAAABQAAAAHAAAAAQAAAAKAAAAQAAAAAMAAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>280</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJp+yAAAAAAAmn7IAAAAAACafsgAAABkAAAAIwAAAAQAAAAMAAAASwAAAAMgAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>282</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKdergAAAAAAp16uAAAAAACnXq4AAABkAAAAIwAAAAQAAAAMAAAASwAAAAMgAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>284</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALQ+lAAAAAAAtD6UAAAAAAC0PpQAAABkAAAAIwAAAAQAAAAMAAAASwAAAAMgAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>286</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMEeegAAAAAAwR56AAAAAADBHnoAAABkAAAAIwAAAAQAAAAMAAAASwAAAAMgAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>289</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANreRgAAAAAA2t5GAAAAAADa3kYAAABkAAAAIwAAAAQAAAAMAAAASwAAAAMgAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>296</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMNDywAAAAAAw0PLAAAAAADDQ8sAAABwAAAAKQAAAAgAAAAMgAAAVAAAAAMgAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>298</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPjotAAAAAAA+Oi0AAAAAAD46LQAAABwAAAAKYAAAAYAAAANgAAAVAAAAASQAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>300</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANAjsQAAAAAA0COxAAAAAADQI7EAAAB0AAAAKgAAAAYAAAAOAAAAVwAAAALwAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>302</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARKogAAAAAABEqiAAAAAAAESqIAAAAB0AAAALAAAAAgAAAAOAAAAVwAAAAbAAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>304</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAN8o6AAAAAAA3yjoAAAAAADfKOgAAAB4AAAAKoAAAAgAAAANAAAAWgAAAAPAAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>306</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARs9xAAAAAABGz3EAAAAAAEbPcQAAAB4AAAALQAAAAkAAAAOAAAAWgAAAAPAAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>500</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKKNxQAAAAAAogArAAAAAACijcUAAABkAAAAHwAAAAIAAAAKAAAAQAAAAALgAAAAMAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>510</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJhvcAAAAAAAmFl3AAAAAACYb3AAAAB4AAAAHAAAAAIAAAAJAAAAQ4AAAALQAAAAMAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>520</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM3+YAAAAAAAzf5gAAAAAADN/mAAAAB4AAAAKAAAAAMAAAANgAAAQ4AAAAXAAAAAMAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>540</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOfvAAAAAAAA574sAAAAAADn7wAAAAB4AAAAKAAAAAQAAAAOAAAASwAAAAMgAAAAMAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>570</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAAAAAAACAvvwAAAAAAAAAAAAAAAAAAAAAAAAA1AAAADwAAAAEAAAAHAAAAHgAAAAJQAAAAYAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>590</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAAAAAAAFGKBgAAAAAAAAAAAAAAAAAAAAAAAABVAAAAGwAAAAQAAAAHAAAAMAAAAAGwAAAAMAAAAGAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
		<key>600</key>
		<dict>
			<key>TM</key>
			<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIWDsAAAAAAAhYOwAAAAAACFg7AAAABkAAAAEIAAAAQAAAACgAAASwAAAAMgAAAAEAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
		</dict>
	</dict>
	<key>timing-ids</key>
	<dict>
		<key>1073938492</key>
		<integer>190</integer>
		<key>1073938502</key>
		<integer>200</integer>
		<key>1073938507</key>
		<integer>204</integer>
		<key>1073938517</key>
		<integer>208</integer>
		<key>1208182347</key>
		<integer>220</integer>
		<key>1342423100</key>
		<integer>252</integer>
		<key>1342423115</key>
		<integer>250</integer>
		<key>1342423125</key>
		<integer>254</integer>
		<key>1342439484</key>
		<integer>260</integer>
		<key>1342439499</key>
		<integer>262</integer>
		<key>1342439509</key>
		<integer>268</integer>
		<key>1426260028</key>
		<integer>590</integer>
		<key>1677983820</key>
		<integer>500</integer>
		<key>1678028860</key>
		<integer>280</integer>
		<key>1678028865</key>
		<integer>282</integer>
		<key>1678028870</key>
		<integer>284</integer>
		<key>1678028875</key>
		<integer>286</integer>
		<key>1678028885</key>
		<integer>289</integer>
		<key>1879392316</key>
		<integer>296</integer>
		<key>1879392331</key>
		<integer>298</integer>
		<key>1946513468</key>
		<integer>300</integer>
		<key>1946513483</key>
		<integer>302</integer>
		<key>2013542460</key>
		<integer>510</integer>
		<key>2013542472</key>
		<integer>520</integer>
		<key>2013573196</key>
		<integer>540</integer>
		<key>2013634620</key>
		<integer>304</integer>
		<key>2013634635</key>
		<integer>306</integer>
		<key>671211580</key>
		<integer>150</integer>
		<key>671211587</key>
		<integer>140</integer>
		<key>671211592</key>
		<integer>152</integer>
		<key>671211595</key>
		<integer>154</integer>
		<key>671211605</key>
		<integer>158</integer>
		<key>671298123</key>
		<integer>165</integer>
		<key>671311435</key>
		<integer>160</integer>
		<key>839014456</key>
		<integer>180</integer>
		<key>839014460</key>
		<integer>182</integer>
		<key>839014472</key>
		<integer>184</integer>
		<key>839014475</key>
		<integer>186</integer>
		<key>839014485</key>
		<integer>188</integer>
		<key>872575051</key>
		<integer>170</integer>
		<key>889315388</key>
		<integer>570</integer>
	</dict>
</dict>
</plist>
