/bfd-in3.h
/bfd.h
/bfdver.h
/elf32-ia64.c
/elf32-target.h
/elf64-ia64.c
/elf64-target.h
/libtool-soversion
/ofiles
/peigen.c
/pepigen.c
/pex64igen.c
/pe-aarch64igen.c
/pe-loongarch64igen.c
/stmp-bfd-h
/targmatch.h

/doc/aoutx.texi
/doc/archive.texi
/doc/archures.texi
/doc/bfdio.texi
/doc/bfdt.texi
/doc/bfdver.texi
/doc/bfdwin.texi
/doc/cache.texi
/doc/chew
/doc/coffcode.texi
/doc/corefile.texi
/doc/elf.texi
/doc/elfcode.texi
/doc/format.texi
/doc/hash.texi
/doc/libbfd.texi
/doc/linker.texi
/doc/mmo.texi
/doc/opncls.texi
/doc/reloc.texi
/doc/section.texi
/doc/syms.texi
/doc/targets.texi
