[Desktop Entry]
Type=Application
Name=Run AppImage
Exec=launch runappimage %F
Categories=Other;
Hidden=true
MimeType=application/vnd.appimage
Terminal=false
