# https://editorconfig.org

root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.txt]
indent_style = space

[*.[chS]]
indent_style = space
max_doc_length = 80
max_line_length = 80

[*.dfa]
indent_style = space
max_doc_length = 80
max_line_length = 80

[*.{awk,cmake}]
indent_style = space
max_doc_length = 80
max_line_length = 100

[*.{in,sh}]
indent_style = space
max_doc_length = 100
max_line_length = 100

[{Makefile.in,ltmain.sh}]
indent_style = unset
insert_final_newline = unset
max_doc_length = unset
max_line_length = unset
trim_trailing_whitespace = unset

[COMMIT_EDITMSG]
indent_style = space
max_doc_length = unset
max_line_length = 72
