.deps
.libs
.perf
.idea
cairo-*.*.*
manual-*.*.*
ChangeLog*
Makefile
Makefile.in
aclocal.m4
autom4te.cache
confdefs.h
config.cache
config.h
config.h.in
config.status
configure
configure.scan
conftest.c
conftest.err
conftest.i
doltcompile
doltlibtool
gtk-doc.make
libtool
releases
stamp-h
stamp-h1
stamp-h.in
compile_commands.json
*~
.*.sw?
*.la
*.lo
*.log
*.orig
*.rej
*-uninstalled.pc
.vimrc
gtk-doc.m4
/builddir
