{
	"Africa/Algiers" = 0;
	"Africa/Luanda" = 0;
	"Africa/Porto-Novo" = 0;
	"Africa/Douala" = 0;
	"Africa/Malabo" = 0;
	"Africa/Libreville" = 0;
	"Africa/Tripoli" = 0;
	"Africa/Niamey" = 0;
	"Africa/Lagos" = 0;
	"Africa/Lome" = 0;
	"Africa/Tunis" = 0;
	"Africa/Ceuta" = 0;
	"Indian/Kerguelen" = 0;
	"Antarctica/Casey" = 0;
	"Antarctica/Davis" = 0;
	"Antarctica/Mawson" = 0;
	"Antarctica/DumontDUrville" = 0;
	"Antarctica/Syowa" = 0;
	"Antarctica/Palmer" = 0;
	"Antarctica/McMurdo" = 0;
	"Antarctica/South_Pole" = 0;
	"Europe/London" = 0;
	"Europe/Andorra" = 0;
	"Europe/Brussels" = 0;
	"Europe/Paris" = 0;
	"Europe/Gibraltar" = 0;
	"Europe/Luxembourg" = 0;
	"Europe/Monaco" = 0;
	"Europe/Amsterdam" = 0;
	"Europe/Madrid" = 0;
	"WET" = 0;
	"Etc/GMT" = 0;
	"Etc/UTC" = 0;
	"Etc/UCT" = 0;
	"Etc/Universal" = 0;
	"Etc/Zulu" = 0;
	"Etc/Greenwich" = 0;
	"Etc/GMT-0" = 0;
	"Etc/GMT+0" = 0;
	"Etc/GMT0" = 0;
	"GMT" = 0;
	"Universal" = 0;
	"Zulu" = 0;
	"Greenwich" = 0;
	"GMT-0" = 0;
	"GMT+0" = 0;
	"GMT0" = 0;
	"GB" = 0;
	"GB-Eire" = 0;
	"Libya" = 0;
	"UCT" = 0;
	"UTC" = 0;
	"Africa/Bangui" = 1;
	"Africa/Ndjamena" = 1;
	"Africa/Kinshasa" = 1;
	"Africa/Brazzaville" = 1;
	"Africa/Maseru" = 1;
	"Africa/Windhoek" = 1;
	"Africa/Johannesburg" = 1;
	"Africa/Lusaka" = 1;
	"Asia/Istanbul" = 1;
	"Europe/Tirane" = 1;
	"Europe/Vienna" = 1;
	"Europe/Minsk" = 1;
	"Europe/Prague" = 1;
	"Europe/Copenhagen" = 1;
	"Europe/Tallinn" = 1;
	"Europe/Helsinki" = 1;
	"Europe/Berlin" = 1;
	"Europe/Athens" = 1;
	"Europe/Budapest" = 1;
	"Europe/Rome" = 1;
	"Europe/Riga" = 1;
	"Europe/Vaduz" = 1;
	"Europe/Vilnius" = 1;
	"Europe/Malta" = 1;
	"Europe/Chisinau" = 1;
	"Europe/Tiraspol" = 1;
	"Europe/Oslo" = 1;
	"Europe/Warsaw" = 1;
	"Europe/Bucharest" = 1;
	"Europe/Kaliningrad" = 1;
	"Europe/Stockholm" = 1;
	"Europe/Zurich" = 1;
	"Europe/Istanbul" = 1;
	"Europe/Uzhgorod" = 1;
	"Europe/Belgrade" = 1;
	"Europe/Vatican" = 1;
	"Europe/San_Marino" = 1;
	"Europe/Bratislava" = 1;
	"Europe/Ljubljana" = 1;
	"Europe/Sarajevo" = 1;
	"Europe/Skopje" = 1;
	"Europe/Zagreb" = 1;
	"CET" = 1;
	"MET" = 1;
	"Etc/GMT-1" = 1;
	"GMT+1" = 1;
	"Arctic/Longyearbyen" = 1;
	"Poland" = 1;
	"Turkey" = 1;
	"Africa/Gaborone" = 2;
	"Africa/Bujumbura" = 2;
	"Africa/Lubumbashi" = 2;
	"Africa/Djibouti" = 2;
	"Africa/Cairo" = 2;
	"Africa/Asmera" = 2;
	"Africa/Addis_Ababa" = 2;
	"Africa/Nairobi" = 2;
	"Africa/Blantyre" = 2;
	"Africa/Maputo" = 2;
	"Africa/Kigali" = 2;
	"Africa/Khartoum" = 2;
	"Africa/Mbabane" = 2;
	"Africa/Dar_es_Salaam" = 2;
	"Africa/Kampala" = 2;
	"Africa/Harare" = 2;
	"Indian/Comoro" = 2;
	"Asia/Yerevan" = 2;
	"Asia/Nicosia" = 2;
	"Asia/Tbilisi" = 2;
	"Asia/Baghdad" = 2;
	"Asia/Jerusalem" = 2;
	"Asia/Amman" = 2;
	"Asia/Beirut" = 2;
	"Asia/Gaza" = 2;
	"Asia/Damascus" = 2;
	"Asia/Tel_Aviv" = 2;
	"Europe/Sofia" = 2;
	"Europe/Moscow" = 2;
	"Europe/Kiev" = 2;
	"Europe/Zaporozhye" = 2;
	"Europe/Simferopol" = 2;
	"Europe/Nicosia" = 2;
	"EET" = 2;
	"Etc/GMT-2" = 2;
	"GMT+2" = 2;
	"Egypt" = 2;
	"Israel" = 2;
	"W-SU" = 2;
	"Africa/Mogadishu" = 3;
	"Indian/Antananarivo" = 3;
	"Indian/Mauritius" = 3;
	"Indian/Mayotte" = 3;
	"Indian/Reunion" = 3;
	"Indian/Mahe" = 3;
	"Asia/Baku" = 3;
	"Asia/Bahrain" = 3;
	"Asia/Tehran" = 3;
	"Asia/Aqtobe" = 3;
	"Asia/Aqtau" = 3;
	"Asia/Kuwait" = 3;
	"Asia/Muscat" = 3;
	"Asia/Qatar" = 3;
	"Asia/Riyadh" = 3;
	"Asia/Ashgabat" = 3;
	"Asia/Dubai" = 3;
	"Asia/Aden" = 3;
	"Asia/Riyadh87" = 3;
	"Asia/Riyadh88" = 3;
	"Asia/Riyadh89" = 3;
	"Asia/Ashkhabad" = 3;
	"Europe/Samara" = 3;
	"Etc/GMT-3" = 3;
	"GMT+3" = 3;
	"Iran" = 3;
	"Mideast/Riyadh87" = 3;
	"Mideast/Riyadh88" = 3;
	"Mideast/Riyadh89" = 3;
	"Indian/Maldives" = 4;
	"Asia/Kabul" = 4;
	"Asia/Bishkek" = 4;
	"Asia/Karachi" = 4;
	"Asia/Dushanbe" = 4;
	"Asia/Samarkand" = 4;
	"Asia/Tashkent" = 4;
	"Asia/Yekaterinburg" = 4;
	"Asia/Omsk" = 4;
	"Etc/GMT-4" = 4;
	"GMT+4" = 4;
	"Indian/Chagos" = 5;
	"Asia/Dhaka" = 5;
	"Asia/Thimphu" = 5;
	"Asia/Urumqi" = 5;
	"Asia/Kashgar" = 5;
	"Asia/Calcutta" = 5;
	"Asia/Almaty" = 5;
	"Asia/Katmandu" = 5;
	"Asia/Colombo" = 5;
	"Asia/Novosibirsk" = 5;
	"Asia/Dacca" = 5;
	"Asia/Thimbu" = 5;
	"Etc/GMT-5" = 5;
	"GMT+5" = 5;
	"Indian/Cocos" = 6;
	"Asia/Rangoon" = 6;
	"Asia/Phnom_Penh" = 6;
	"Asia/Vientiane" = 6;
	"Asia/Kuala_Lumpur" = 6;
	"Asia/Hovd" = 6;
	"Asia/Singapore" = 6;
	"Asia/Bangkok" = 6;
	"Asia/Krasnoyarsk" = 6;
	"Asia/Irkutsk" = 6;
	"Etc/GMT-6" = 6;
	"GMT+6" = 6;
	"Singapore" = 6;
	"Indian/Christmas" = 7;
	"Asia/Brunei" = 7;
	"Asia/Chungking" = 7;
	"Asia/Hong_Kong" = 7;
	"Asia/Macao" = 7;
	"Asia/Jakarta" = 7;
	"Asia/Ujung_Pandang" = 7;
	"Asia/Kuching" = 7;
	"Asia/Ulaanbaatar" = 7;
	"Asia/Saigon" = 7;
	"Asia/Ulan_Bator" = 7;
	"Etc/GMT-7" = 7;
	"GMT+7" = 7;
	"Hongkong" = 7;
	"Asia/Harbin" = 8;
	"Asia/Shanghai" = 8;
	"Asia/Taipei" = 8;
	"Asia/Dili" = 8;
	"Asia/Seoul" = 8;
	"Asia/Pyongyang" = 8;
	"Asia/Manila" = 8;
	"Asia/Yakutsk" = 8;
	"Asia/Vladivostok" = 8;
	"Australia/Perth" = 8;
	"Australia/West" = 8;
	"Etc/GMT-8" = 8;
	"GMT+8" = 8;
	"PRC" = 8;
	"ROC" = 8;
	"ROK" = 8;
	"Asia/Jayapura" = 9;
	"Asia/Tokyo" = 9;
	"Australia/Darwin" = 9;
	"Australia/Adelaide" = 9;
	"Australia/Broken_Hill" = 9;
	"Australia/North" = 9;
	"Australia/South" = 9;
	"Australia/Yancowinna" = 9;
	"Pacific/Saipan" = 9;
	"Pacific/Yap" = 9;
	"Pacific/Palau" = 9;
	"Etc/GMT-9" = 9;
	"GMT+9" = 9;
	"Japan" = 9;
	"Asia/Magadan" = 10;
	"Asia/Kamchatka" = 10;
	"Australia/Brisbane" = 10;
	"Australia/Lindeman" = 10;
	"Australia/Hobart" = 10;
	"Australia/Melbourne" = 10;
	"Australia/Sydney" = 10;
	"Australia/Lord_Howe" = 10;
	"Australia/ACT" = 10;
	"Australia/Canberra" = 10;
	"Australia/LHI" = 10;
	"Australia/NSW" = 10;
	"Australia/Queensland" = 10;
	"Australia/Tasmania" = 10;
	"Australia/Victoria" = 10;
	"Pacific/Guam" = 10;
	"Pacific/Truk" = 10;
	"Pacific/Port_Moresby" = 10;
	"Pacific/Guadalcanal" = 10;
	"Etc/GMT-10" = 10;
	"GMT-14" = 10;
	"GMT+10" = 10;
	"Asia/Anadyr" = 11;
	"Pacific/Fiji" = 11;
	"Pacific/Majuro" = 11;
	"Pacific/Kwajalein" = 11;
	"Pacific/Ponape" = 11;
	"Pacific/Kosrae" = 11;
	"Pacific/Nauru" = 11;
	"Pacific/Noumea" = 11;
	"Pacific/Auckland" = 11;
	"Pacific/Norfolk" = 11;
	"Pacific/Efate" = 11;
	"Etc/GMT-11" = 11;
	"GMT-13" = 11;
	"GMT+11" = 11;
	"Kwajalein" = 11;
	"NZ" = 11;
	"Pacific/Tarawa" = 12;
	"Pacific/Enderbury" = 12;
	"Pacific/Chatham" = 12;
	"Pacific/Niue" = 12;
	"Pacific/Pago_Pago" = 12;
	"Pacific/Apia" = 12;
	"Pacific/Tongatapu" = 12;
	"Pacific/Funafuti" = 12;
	"Pacific/Wake" = 12;
	"Pacific/Wallis" = 12;
	"Pacific/Samoa" = 12;
	"Etc/GMT-12" = 12;
	"Etc/GMT+12" = 12;
	"GMT-12" = 12;
	"GMT+12" = 12;
	"US/Samoa" = 12;
	"NZ-CHAT" = 12;
	"Pacific/Rarotonga" = 13;
	"Pacific/Kiritimati" = 13;
	"Pacific/Midway" = 13;
	"Pacific/Honolulu" = 13;
	"America/Nome" = 13;
	"America/Adak" = 13;
	"America/Atka" = 13;
	"Etc/GMT-13" = 13;
	"Etc/GMT+11" = 13;
	"GMT-11" = 13;
	"GMT+13" = 13;
	"HST" = 13;
	"US/Aleutian" = 13;
	"US/Hawaii" = 13;
	"Pacific/Marquesas" = 14;
	"Pacific/Tahiti" = 14;
	"Pacific/Fakaofo" = 14;
	"Pacific/Johnston" = 14;
	"America/Anchorage" = 14;
	"Etc/GMT-14" = 14;
	"Etc/GMT+10" = 14;
	"GMT-10" = 14;
	"GMT+14" = 14;
	"SystemV/HST10" = 14;
	"US/Alaska" = 14;
	"Pacific/Gambier" = 15;
	"Pacific/Pitcairn" = 15;
	"America/Yakutat" = 15;
	"America/Whitehorse" = 15;
	"America/Dawson" = 15;
	"Etc/GMT+9" = 15;
	"GMT-9" = 15;
	"SystemV/YST9YDT" = 15;
	"SystemV/YST9" = 15;
	"Canada/Yukon" = 15;
	"Pacific/Easter" = 16;
	"America/Los_Angeles" = 16;
	"America/Juneau" = 16;
	"America/Boise" = 16;
	"America/Swift_Current" = 16;
	"America/Edmonton" = 16;
	"America/Vancouver" = 16;
	"America/Dawson_Creek" = 16;
	"America/Inuvik" = 16;
	"America/Chihuahua" = 16;
	"America/Hermosillo" = 16;
	"America/Mazatlan" = 16;
	"America/Tijuana" = 16;
	"America/Ensenada" = 16;
	"Etc/GMT+8" = 16;
	"GMT-8" = 16;
	"SystemV/PST8PDT" = 16;
	"SystemV/PST8" = 16;
	"PST8PDT" = 16;
	"US/Pacific-New" = 16;
	"US/Pacific" = 16;
	"Canada/Mountain" = 16;
	"Canada/Pacific" = 16;
	"Chile/EasterIsland" = 16;
	"Mexico/BajaNorte" = 16;
	"Mexico/BajaSur" = 16;
	"America/Denver" = 17;
	"America/Phoenix" = 17;
	"America/Regina" = 17;
	"America/Cambridge_Bay" = 17;
	"America/Yellowknife" = 17;
	"America/Monterrey" = 17;
	"America/Mexico_City" = 17;
	"America/Guatemala" = 17;
	"America/Shiprock" = 17;
	"Etc/GMT+7" = 17;
	"GMT-7" = 17;
	"SystemV/MST7MDT" = 17;
	"SystemV/MST7" = 17;
	"MST7MDT" = 17;
	"MST" = 17;
	"US/Arizona" = 17;
	"US/Mountain" = 17;
	"Canada/East-Saskatchewan" = 17;
	"Canada/Saskatchewan" = 17;
	"Mexico/General" = 17;
	"Navajo" = 17;
	"Pacific/Galapagos" = 18;
	"America/Chicago" = 18;
	"America/Indianapolis" = 18;
	"America/Indiana/Marengo" = 18;
	"America/Indiana/Knox" = 18;
	"America/Indiana/Vevay" = 18;
	"America/Indiana/Indianapolis" = 18;
	"America/Louisville" = 18;
	"America/Kentucky/Monticello" = 18;
	"America/Kentucky/Louisville" = 18;
	"America/Detroit" = 18;
	"America/Menominee" = 18;
	"America/Rainy_River" = 18;
	"America/Winnipeg" = 18;
	"America/Rankin_Inlet" = 18;
	"America/Cancun" = 18;
	"America/Merida" = 18;
	"America/Nassau" = 18;
	"America/Belize" = 18;
	"America/Cayman" = 18;
	"America/Costa_Rica" = 18;
	"America/Havana" = 18;
	"America/El_Salvador" = 18;
	"America/Tegucigalpa" = 18;
	"America/Jamaica" = 18;
	"America/Managua" = 18;
	"America/Panama" = 18;
	"America/Grand_Turk" = 18;
	"America/Guayaquil" = 18;
	"America/Lima" = 18;
	"America/Fort_Wayne" = 18;
	"America/Knox_IN" = 18;
	"Etc/GMT+6" = 18;
	"GMT-6" = 18;
	"SystemV/CST6CDT" = 18;
	"SystemV/CST6" = 18;
	"CST6CDT" = 18;
	"EST" = 18;
	"US/Central" = 18;
	"US/East-Indiana" = 18;
	"US/Indiana-Starke" = 18;
	"US/Michigan" = 18;
	"Canada/Central" = 18;
	"Cuba" = 18;
	"Jamaica" = 18;
	"Atlantic/Bermuda" = 19;
	"America/Thule" = 19;
	"America/New_York" = 19;
	"America/Halifax" = 19;
	"America/Montreal" = 19;
	"America/Thunder_Bay" = 19;
	"America/Nipigon" = 19;
	"America/Iqaluit" = 19;
	"America/Anguilla" = 19;
	"America/Antigua" = 19;
	"America/Dominica" = 19;
	"America/Santo_Domingo" = 19;
	"America/Grenada" = 19;
	"America/Guadeloupe" = 19;
	"America/Port-au-Prince" = 19;
	"America/Martinique" = 19;
	"America/Montserrat" = 19;
	"America/St_Kitts" = 19;
	"America/St_Lucia" = 19;
	"America/St_Vincent" = 19;
	"America/Tortola" = 19;
	"America/St_Thomas" = 19;
	"America/Buenos_Aires" = 19;
	"America/Rosario" = 19;
	"America/Cordoba" = 19;
	"America/Jujuy" = 19;
	"America/Catamarca" = 19;
	"America/Mendoza" = 19;
	"America/Aruba" = 19;
	"America/La_Paz" = 19;
	"America/Porto_Velho" = 19;
	"America/Boa_Vista" = 19;
	"America/Manaus" = 19;
	"America/Eirunepe" = 19;
	"America/Porto_Acre" = 19;
	"America/Santiago" = 19;
	"America/Bogota" = 19;
	"America/Curacao" = 19;
	"America/Port_of_Spain" = 19;
	"America/Caracas" = 19;
	"America/Virgin" = 19;
	"Etc/GMT+5" = 19;
	"GMT-5" = 19;
	"SystemV/EST5EDT" = 19;
	"SystemV/EST5" = 19;
	"EST5EDT" = 19;
	"US/Eastern" = 19;
	"Brazil/Acre" = 19;
	"Brazil/West" = 19;
	"Canada/Atlantic" = 19;
	"Canada/Eastern" = 19;
	"Chile/Continental" = 19;
	"Atlantic/Stanley" = 20;
	"America/Godthab" = 20;
	"America/St_Johns" = 20;
	"America/Goose_Bay" = 20;
	"America/Glace_Bay" = 20;
	"America/Pangnirtung" = 20;
	"America/Barbados" = 20;
	"America/Puerto_Rico" = 20;
	"America/Miquelon" = 20;
	"America/Belem" = 20;
	"America/Araguaina" = 20;
	"America/Sao_Paulo" = 20;
	"America/Cuiaba" = 20;
	"America/Cayenne" = 20;
	"America/Guyana" = 20;
	"America/Asuncion" = 20;
	"America/Paramaribo" = 20;
	"America/Montevideo" = 20;
	"Etc/GMT+4" = 20;
	"GMT-4" = 20;
	"SystemV/AST4ADT" = 20;
	"SystemV/AST4" = 20;
	"Brazil/East" = 20;
	"Canada/Newfoundland" = 20;
	"America/Noronha" = 21;
	"America/Fortaleza" = 21;
	"America/Recife" = 21;
	"America/Maceio" = 21;
	"Etc/GMT+3" = 21;
	"GMT-3" = 21;
	"Brazil/DeNoronha" = 21;
	"Africa/Banjul" = 22;
	"Africa/Bissau" = 22;
	"Africa/Nouakchott" = 22;
	"Africa/Dakar" = 22;
	"Atlantic/Cape_Verde" = 22;
	"Atlantic/Reykjavik" = 22;
	"Atlantic/Azores" = 22;
	"Atlantic/Madeira" = 22;
	"Atlantic/Canary" = 22;
	"Atlantic/South_Georgia" = 22;
	"America/Scoresbysund" = 22;
	"Etc/GMT+2" = 22;
	"GMT-2" = 22;
	"Iceland" = 22;
	"Africa/Ouagadougou" = 23;
	"Africa/Abidjan" = 23;
	"Africa/Accra" = 23;
	"Africa/Conakry" = 23;
	"Africa/Monrovia" = 23;
	"Africa/Bamako" = 23;
	"Africa/Timbuktu" = 23;
	"Africa/Casablanca" = 23;
	"Africa/El_Aaiun" = 23;
	"Africa/Sao_Tome" = 23;
	"Africa/Freetown" = 23;
	"Atlantic/St_Helena" = 23;
	"Atlantic/Faeroe" = 23;
	"Atlantic/Jan_Mayen" = 23;
	"Europe/Belfast" = 23;
	"Europe/Dublin" = 23;
	"Europe/Lisbon" = 23;
	"Etc/GMT+1" = 23;
	"GMT-1" = 23;
	"Eire" = 23;
	"Portugal" = 23;
}
