{
	"Central European Standard Time" = (
		"Europe/Brussels",
		"Europe/Budapest",
		"Europe/Copenhagen",
		"Europe/Gibraltar",
		"Europe/Luxembourg",
		"Europe/Madrid",
		"Europe/Malta",
		"Europe/Monaco",
		"Europe/Oslo",
		"Europe/Paris",
		"Europe/Prague",
		"Europe/Tirane",
		"Europe/Vienna",
		"Europe/Warsaw",
		"Europe/Zurich",
		MET,
	);
	"Central Europe Standard Time" = (
		"Africa/Algiers",
		"Africa/Ceuta",
		"Africa/Tunis",
		CET,
		"Europe/Andorra",
		"Europe/Belgrade",
		"Etc/GMT-1",
	);
}