
BasedOnStyle: InheritParentConfig
DisableFormat: false

AlwaysBreakAfterReturnType: TopLevel
AllowShortEnumsOnASingleLine: false
BinPackParameters: false
BinPackArguments: false

ColumnLimit: 90

IncludeBlocks: Regroup
TabWidth: 3
AlignArrayOfStructures: Left
ReferenceAlignment: Left
PenaltyBreakOpenParenthesis: 90
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpacesInContainerLiterals: false
PackConstructorInitializers: Never
IndentAccessModifiers: false
AccessModifierOffset: -3
BreakConstructorInitializers: AfterColon
