<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>LoadingWindow.app</string>
	<key>CFBundleDisplayName</key>
	<string>LoadingWindow</string>
	<key>CFBundleIdentifier</key>
	<string>com.ravynos.LoadingWindow</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>OBJC</string>
	<key>CFBundleExecutable</key>
	<string>LoadingWindow</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2024 RavynSoft</string>
	<key>CFBundleIconFile</key>
	<string>WindowServer.png</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
