<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist SYSTEM "file:///localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
  <dict>
    <key>Etc/GMT+12</key>
    <string>Dateline Standard Time</string>
    <key>Pacific/Pago_Pago</key>
    <string>UTC-11</string>
    <key>Pacific/Niue</key>
    <string>UTC-11</string>
    <key>Pacific/Midway</key>
    <string>UTC-11</string>
    <key>Etc/GMT+11</key>
    <string>UTC-11</string>
    <key>America/Adak</key>
    <string>Aleutian Standard Time</string>
    <key>Pacific/Rarotonga</key>
    <string>Hawaiian Standard Time</string>
    <key>Pacific/Tahiti</key>
    <string>Hawaiian Standard Time</string>
    <key>Pacific/Johnston</key>
    <string>Hawaiian Standard Time</string>
    <key>Pacific/Honolulu</key>
    <string>Hawaiian Standard Time</string>
    <key>Etc/GMT+10</key>
    <string>Hawaiian Standard Time</string>
    <key>Pacific/Marquesas</key>
    <string>Marquesas Standard Time</string>
    <key>America/Anchorage</key>
    <string>Alaskan Standard Time</string>
    <key>Pacific/Gambier</key>
    <string>UTC-09</string>
    <key>Etc/GMT+9</key>
    <string>UTC-09</string>
    <key>America/Tijuana</key>
    <string>Pacific Standard Time (Mexico)</string>
    <key>Pacific/Pitcairn</key>
    <string>UTC-08</string>
    <key>Etc/GMT+8</key>
    <string>UTC-08</string>
    <key>America/Vancouver</key>
    <string>Pacific Standard Time</string>
    <key>America/Los_Angeles</key>
    <string>Pacific Standard Time</string>
    <key>PST8PDT</key>
    <string>Pacific Standard Time</string>
    <key>America/Dawson_Creek</key>
    <string>US Mountain Standard Time</string>
    <key>America/Hermosillo</key>
    <string>US Mountain Standard Time</string>
    <key>America/Phoenix</key>
    <string>US Mountain Standard Time</string>
    <key>Etc/GMT+7</key>
    <string>US Mountain Standard Time</string>
    <key>America/Chihuahua</key>
    <string>Mountain Standard Time (Mexico)</string>
    <key>America/Edmonton</key>
    <string>Mountain Standard Time</string>
    <key>America/Ojinaga</key>
    <string>Mountain Standard Time</string>
    <key>America/Denver</key>
    <string>Mountain Standard Time</string>
    <key>MST7MDT</key>
    <string>Mountain Standard Time</string>
    <key>America/Belize</key>
    <string>Central America Standard Time</string>
    <key>America/Costa_Rica</key>
    <string>Central America Standard Time</string>
    <key>Pacific/Galapagos</key>
    <string>Central America Standard Time</string>
    <key>America/Guatemala</key>
    <string>Central America Standard Time</string>
    <key>America/Tegucigalpa</key>
    <string>Central America Standard Time</string>
    <key>America/Managua</key>
    <string>Central America Standard Time</string>
    <key>America/El_Salvador</key>
    <string>Central America Standard Time</string>
    <key>Etc/GMT+6</key>
    <string>Central America Standard Time</string>
    <key>America/Winnipeg</key>
    <string>Central Standard Time</string>
    <key>America/Matamoros</key>
    <string>Central Standard Time</string>
    <key>America/Chicago</key>
    <string>Central Standard Time</string>
    <key>CST6CDT</key>
    <string>Central Standard Time</string>
    <key>Pacific/Easter</key>
    <string>Easter Island Standard Time</string>
    <key>America/Mexico_City</key>
    <string>Central Standard Time (Mexico)</string>
    <key>America/Regina</key>
    <string>Canada Central Standard Time</string>
    <key>America/Rio_Branco</key>
    <string>SA Pacific Standard Time</string>
    <key>America/Coral_Harbour</key>
    <string>SA Pacific Standard Time</string>
    <key>America/Bogota</key>
    <string>SA Pacific Standard Time</string>
    <key>America/Guayaquil</key>
    <string>SA Pacific Standard Time</string>
    <key>America/Jamaica</key>
    <string>SA Pacific Standard Time</string>
    <key>America/Cayman</key>
    <string>SA Pacific Standard Time</string>
    <key>America/Panama</key>
    <string>SA Pacific Standard Time</string>
    <key>America/Lima</key>
    <string>SA Pacific Standard Time</string>
    <key>Etc/GMT+5</key>
    <string>SA Pacific Standard Time</string>
    <key>America/Cancun</key>
    <string>Eastern Standard Time (Mexico)</string>
    <key>America/Nassau</key>
    <string>Eastern Standard Time</string>
    <key>America/Toronto</key>
    <string>Eastern Standard Time</string>
    <key>America/New_York</key>
    <string>Eastern Standard Time</string>
    <key>EST5EDT</key>
    <string>Eastern Standard Time</string>
    <key>America/Port-au-Prince</key>
    <string>Haiti Standard Time</string>
    <key>America/Havana</key>
    <string>Cuba Standard Time</string>
    <key>America/Indianapolis</key>
    <string>US Eastern Standard Time</string>
    <key>America/Asuncion</key>
    <string>Paraguay Standard Time</string>
    <key>Atlantic/Bermuda</key>
    <string>Atlantic Standard Time</string>
    <key>America/Halifax</key>
    <string>Atlantic Standard Time</string>
    <key>America/Thule</key>
    <string>Atlantic Standard Time</string>
    <key>America/Caracas</key>
    <string>Venezuela Standard Time</string>
    <key>America/Cuiaba</key>
    <string>Central Brazilian Standard Time</string>
    <key>America/Antigua</key>
    <string>SA Western Standard Time</string>
    <key>America/Anguilla</key>
    <string>SA Western Standard Time</string>
    <key>America/Aruba</key>
    <string>SA Western Standard Time</string>
    <key>America/Barbados</key>
    <string>SA Western Standard Time</string>
    <key>America/St_Barthelemy</key>
    <string>SA Western Standard Time</string>
    <key>America/La_Paz</key>
    <string>SA Western Standard Time</string>
    <key>America/Kralendijk</key>
    <string>SA Western Standard Time</string>
    <key>America/Manaus</key>
    <string>SA Western Standard Time</string>
    <key>America/Blanc-Sablon</key>
    <string>SA Western Standard Time</string>
    <key>America/Curacao</key>
    <string>SA Western Standard Time</string>
    <key>America/Dominica</key>
    <string>SA Western Standard Time</string>
    <key>America/Santo_Domingo</key>
    <string>SA Western Standard Time</string>
    <key>America/Grenada</key>
    <string>SA Western Standard Time</string>
    <key>America/Guadeloupe</key>
    <string>SA Western Standard Time</string>
    <key>America/Guyana</key>
    <string>SA Western Standard Time</string>
    <key>America/St_Kitts</key>
    <string>SA Western Standard Time</string>
    <key>America/St_Lucia</key>
    <string>SA Western Standard Time</string>
    <key>America/Marigot</key>
    <string>SA Western Standard Time</string>
    <key>America/Martinique</key>
    <string>SA Western Standard Time</string>
    <key>America/Montserrat</key>
    <string>SA Western Standard Time</string>
    <key>America/Puerto_Rico</key>
    <string>SA Western Standard Time</string>
    <key>America/Lower_Princes</key>
    <string>SA Western Standard Time</string>
    <key>America/Port_of_Spain</key>
    <string>SA Western Standard Time</string>
    <key>America/St_Vincent</key>
    <string>SA Western Standard Time</string>
    <key>America/Tortola</key>
    <string>SA Western Standard Time</string>
    <key>America/St_Thomas</key>
    <string>SA Western Standard Time</string>
    <key>Etc/GMT+4</key>
    <string>SA Western Standard Time</string>
    <key>America/Santiago</key>
    <string>Pacific SA Standard Time</string>
    <key>America/Grand_Turk</key>
    <string>Turks And Caicos Standard Time</string>
    <key>America/St_Johns</key>
    <string>Newfoundland Standard Time</string>
    <key>America/Araguaina</key>
    <string>Tocantins Standard Time</string>
    <key>America/Sao_Paulo</key>
    <string>E. South America Standard Time</string>
    <key>Antarctica/Rothera</key>
    <string>SA Eastern Standard Time</string>
    <key>America/Fortaleza</key>
    <string>SA Eastern Standard Time</string>
    <key>Atlantic/Stanley</key>
    <string>SA Eastern Standard Time</string>
    <key>America/Cayenne</key>
    <string>SA Eastern Standard Time</string>
    <key>America/Paramaribo</key>
    <string>SA Eastern Standard Time</string>
    <key>Etc/GMT+3</key>
    <string>SA Eastern Standard Time</string>
    <key>America/Buenos_Aires</key>
    <string>Argentina Standard Time</string>
    <key>America/Godthab</key>
    <string>Greenland Standard Time</string>
    <key>America/Montevideo</key>
    <string>Montevideo Standard Time</string>
    <key>Antarctica/Palmer</key>
    <string>Magallanes Standard Time</string>
    <key>America/Punta_Arenas</key>
    <string>Magallanes Standard Time</string>
    <key>America/Miquelon</key>
    <string>Saint Pierre Standard Time</string>
    <key>America/Bahia</key>
    <string>Bahia Standard Time</string>
    <key>America/Noronha</key>
    <string>UTC-02</string>
    <key>Atlantic/South_Georgia</key>
    <string>UTC-02</string>
    <key>Etc/GMT+2</key>
    <string>UTC-02</string>
    <key>America/Scoresbysund</key>
    <string>Azores Standard Time</string>
    <key>Atlantic/Azores</key>
    <string>Azores Standard Time</string>
    <key>Atlantic/Cape_Verde</key>
    <string>Cape Verde Standard Time</string>
    <key>Etc/GMT+1</key>
    <string>Cape Verde Standard Time</string>
    <key>America/Danmarkshavn</key>
    <string>UTC</string>
    <key>Etc/GMT</key>
    <string>UTC</string>
    <key>Atlantic/Canary</key>
    <string>GMT Standard Time</string>
    <key>Atlantic/Faeroe</key>
    <string>GMT Standard Time</string>
    <key>Europe/London</key>
    <string>GMT Standard Time</string>
    <key>Europe/Guernsey</key>
    <string>GMT Standard Time</string>
    <key>Europe/Dublin</key>
    <string>GMT Standard Time</string>
    <key>Europe/Isle_of_Man</key>
    <string>GMT Standard Time</string>
    <key>Europe/Jersey</key>
    <string>GMT Standard Time</string>
    <key>Europe/Lisbon</key>
    <string>GMT Standard Time</string>
    <key>Africa/Ouagadougou</key>
    <string>Greenwich Standard Time</string>
    <key>Africa/Abidjan</key>
    <string>Greenwich Standard Time</string>
    <key>Africa/Accra</key>
    <string>Greenwich Standard Time</string>
    <key>Africa/Banjul</key>
    <string>Greenwich Standard Time</string>
    <key>Africa/Conakry</key>
    <string>Greenwich Standard Time</string>
    <key>Africa/Bissau</key>
    <string>Greenwich Standard Time</string>
    <key>Atlantic/Reykjavik</key>
    <string>Greenwich Standard Time</string>
    <key>Africa/Monrovia</key>
    <string>Greenwich Standard Time</string>
    <key>Africa/Bamako</key>
    <string>Greenwich Standard Time</string>
    <key>Africa/Nouakchott</key>
    <string>Greenwich Standard Time</string>
    <key>Atlantic/St_Helena</key>
    <string>Greenwich Standard Time</string>
    <key>Africa/Freetown</key>
    <string>Greenwich Standard Time</string>
    <key>Africa/Dakar</key>
    <string>Greenwich Standard Time</string>
    <key>Africa/Lome</key>
    <string>Greenwich Standard Time</string>
    <key>Europe/Andorra</key>
    <string>W. Europe Standard Time</string>
    <key>Europe/Vienna</key>
    <string>W. Europe Standard Time</string>
    <key>Europe/Zurich</key>
    <string>W. Europe Standard Time</string>
    <key>Europe/Berlin</key>
    <string>W. Europe Standard Time</string>
    <key>Europe/Gibraltar</key>
    <string>W. Europe Standard Time</string>
    <key>Europe/Rome</key>
    <string>W. Europe Standard Time</string>
    <key>Europe/Vaduz</key>
    <string>W. Europe Standard Time</string>
    <key>Europe/Luxembourg</key>
    <string>W. Europe Standard Time</string>
    <key>Europe/Monaco</key>
    <string>W. Europe Standard Time</string>
    <key>Europe/Malta</key>
    <string>W. Europe Standard Time</string>
    <key>Europe/Amsterdam</key>
    <string>W. Europe Standard Time</string>
    <key>Europe/Oslo</key>
    <string>W. Europe Standard Time</string>
    <key>Europe/Stockholm</key>
    <string>W. Europe Standard Time</string>
    <key>Arctic/Longyearbyen</key>
    <string>W. Europe Standard Time</string>
    <key>Europe/San_Marino</key>
    <string>W. Europe Standard Time</string>
    <key>Europe/Vatican</key>
    <string>W. Europe Standard Time</string>
    <key>Europe/Tirane</key>
    <string>Central Europe Standard Time</string>
    <key>Europe/Prague</key>
    <string>Central Europe Standard Time</string>
    <key>Europe/Budapest</key>
    <string>Central Europe Standard Time</string>
    <key>Europe/Podgorica</key>
    <string>Central Europe Standard Time</string>
    <key>Europe/Belgrade</key>
    <string>Central Europe Standard Time</string>
    <key>Europe/Ljubljana</key>
    <string>Central Europe Standard Time</string>
    <key>Europe/Bratislava</key>
    <string>Central Europe Standard Time</string>
    <key>Europe/Brussels</key>
    <string>Romance Standard Time</string>
    <key>Europe/Copenhagen</key>
    <string>Romance Standard Time</string>
    <key>Europe/Madrid</key>
    <string>Romance Standard Time</string>
    <key>Europe/Paris</key>
    <string>Romance Standard Time</string>
    <key>Africa/El_Aaiun</key>
    <string>Morocco Standard Time</string>
    <key>Africa/Casablanca</key>
    <string>Morocco Standard Time</string>
    <key>Africa/Sao_Tome</key>
    <string>Sao Tome Standard Time</string>
    <key>Europe/Sarajevo</key>
    <string>Central European Standard Time</string>
    <key>Europe/Zagreb</key>
    <string>Central European Standard Time</string>
    <key>Europe/Skopje</key>
    <string>Central European Standard Time</string>
    <key>Europe/Warsaw</key>
    <string>Central European Standard Time</string>
    <key>Africa/Luanda</key>
    <string>W. Central Africa Standard Time</string>
    <key>Africa/Porto-Novo</key>
    <string>W. Central Africa Standard Time</string>
    <key>Africa/Kinshasa</key>
    <string>W. Central Africa Standard Time</string>
    <key>Africa/Bangui</key>
    <string>W. Central Africa Standard Time</string>
    <key>Africa/Brazzaville</key>
    <string>W. Central Africa Standard Time</string>
    <key>Africa/Douala</key>
    <string>W. Central Africa Standard Time</string>
    <key>Africa/Algiers</key>
    <string>W. Central Africa Standard Time</string>
    <key>Africa/Libreville</key>
    <string>W. Central Africa Standard Time</string>
    <key>Africa/Malabo</key>
    <string>W. Central Africa Standard Time</string>
    <key>Africa/Niamey</key>
    <string>W. Central Africa Standard Time</string>
    <key>Africa/Lagos</key>
    <string>W. Central Africa Standard Time</string>
    <key>Africa/Ndjamena</key>
    <string>W. Central Africa Standard Time</string>
    <key>Africa/Tunis</key>
    <string>W. Central Africa Standard Time</string>
    <key>Etc/GMT-1</key>
    <string>W. Central Africa Standard Time</string>
    <key>Asia/Amman</key>
    <string>Jordan Standard Time</string>
    <key>Asia/Famagusta</key>
    <string>GTB Standard Time</string>
    <key>Europe/Athens</key>
    <string>GTB Standard Time</string>
    <key>Europe/Bucharest</key>
    <string>GTB Standard Time</string>
    <key>Asia/Beirut</key>
    <string>Middle East Standard Time</string>
    <key>Africa/Cairo</key>
    <string>Egypt Standard Time</string>
    <key>Europe/Chisinau</key>
    <string>E. Europe Standard Time</string>
    <key>Asia/Damascus</key>
    <string>Syria Standard Time</string>
    <key>Asia/Hebron</key>
    <string>West Bank Standard Time</string>
    <key>Africa/Bujumbura</key>
    <string>South Africa Standard Time</string>
    <key>Africa/Gaborone</key>
    <string>South Africa Standard Time</string>
    <key>Africa/Lubumbashi</key>
    <string>South Africa Standard Time</string>
    <key>Africa/Maseru</key>
    <string>South Africa Standard Time</string>
    <key>Africa/Blantyre</key>
    <string>South Africa Standard Time</string>
    <key>Africa/Maputo</key>
    <string>South Africa Standard Time</string>
    <key>Africa/Kigali</key>
    <string>South Africa Standard Time</string>
    <key>Africa/Mbabane</key>
    <string>South Africa Standard Time</string>
    <key>Africa/Johannesburg</key>
    <string>South Africa Standard Time</string>
    <key>Africa/Lusaka</key>
    <string>South Africa Standard Time</string>
    <key>Africa/Harare</key>
    <string>South Africa Standard Time</string>
    <key>Etc/GMT-2</key>
    <string>South Africa Standard Time</string>
    <key>Europe/Mariehamn</key>
    <string>FLE Standard Time</string>
    <key>Europe/Sofia</key>
    <string>FLE Standard Time</string>
    <key>Europe/Tallinn</key>
    <string>FLE Standard Time</string>
    <key>Europe/Helsinki</key>
    <string>FLE Standard Time</string>
    <key>Europe/Vilnius</key>
    <string>FLE Standard Time</string>
    <key>Europe/Riga</key>
    <string>FLE Standard Time</string>
    <key>Europe/Kiev</key>
    <string>FLE Standard Time</string>
    <key>Asia/Jerusalem</key>
    <string>Israel Standard Time</string>
    <key>Europe/Kaliningrad</key>
    <string>Kaliningrad Standard Time</string>
    <key>Africa/Khartoum</key>
    <string>Sudan Standard Time</string>
    <key>Africa/Tripoli</key>
    <string>Libya Standard Time</string>
    <key>Africa/Windhoek</key>
    <string>Namibia Standard Time</string>
    <key>Asia/Baghdad</key>
    <string>Arabic Standard Time</string>
    <key>Europe/Istanbul</key>
    <string>Turkey Standard Time</string>
    <key>Asia/Bahrain</key>
    <string>Arab Standard Time</string>
    <key>Asia/Kuwait</key>
    <string>Arab Standard Time</string>
    <key>Asia/Qatar</key>
    <string>Arab Standard Time</string>
    <key>Asia/Riyadh</key>
    <string>Arab Standard Time</string>
    <key>Asia/Aden</key>
    <string>Arab Standard Time</string>
    <key>Europe/Minsk</key>
    <string>Belarus Standard Time</string>
    <key>Europe/Moscow</key>
    <string>Russian Standard Time</string>
    <key>Europe/Simferopol</key>
    <string>Russian Standard Time</string>
    <key>Antarctica/Syowa</key>
    <string>E. Africa Standard Time</string>
    <key>Africa/Djibouti</key>
    <string>E. Africa Standard Time</string>
    <key>Africa/Asmera</key>
    <string>E. Africa Standard Time</string>
    <key>Africa/Addis_Ababa</key>
    <string>E. Africa Standard Time</string>
    <key>Africa/Nairobi</key>
    <string>E. Africa Standard Time</string>
    <key>Indian/Comoro</key>
    <string>E. Africa Standard Time</string>
    <key>Indian/Antananarivo</key>
    <string>E. Africa Standard Time</string>
    <key>Africa/Mogadishu</key>
    <string>E. Africa Standard Time</string>
    <key>Africa/Juba</key>
    <string>E. Africa Standard Time</string>
    <key>Africa/Dar_es_Salaam</key>
    <string>E. Africa Standard Time</string>
    <key>Africa/Kampala</key>
    <string>E. Africa Standard Time</string>
    <key>Indian/Mayotte</key>
    <string>E. Africa Standard Time</string>
    <key>Etc/GMT-3</key>
    <string>E. Africa Standard Time</string>
    <key>Asia/Tehran</key>
    <string>Iran Standard Time</string>
    <key>Asia/Dubai</key>
    <string>Arabian Standard Time</string>
    <key>Asia/Muscat</key>
    <string>Arabian Standard Time</string>
    <key>Etc/GMT-4</key>
    <string>Arabian Standard Time</string>
    <key>Europe/Astrakhan</key>
    <string>Astrakhan Standard Time</string>
    <key>Asia/Baku</key>
    <string>Azerbaijan Standard Time</string>
    <key>Europe/Samara</key>
    <string>Russia Time Zone 3</string>
    <key>Indian/Mauritius</key>
    <string>Mauritius Standard Time</string>
    <key>Indian/Reunion</key>
    <string>Mauritius Standard Time</string>
    <key>Indian/Mahe</key>
    <string>Mauritius Standard Time</string>
    <key>Europe/Saratov</key>
    <string>Saratov Standard Time</string>
    <key>Asia/Tbilisi</key>
    <string>Georgian Standard Time</string>
    <key>Asia/Yerevan</key>
    <string>Caucasus Standard Time</string>
    <key>Asia/Kabul</key>
    <string>Afghanistan Standard Time</string>
    <key>Antarctica/Mawson</key>
    <string>West Asia Standard Time</string>
    <key>Asia/Oral</key>
    <string>West Asia Standard Time</string>
    <key>Indian/Maldives</key>
    <string>West Asia Standard Time</string>
    <key>Indian/Kerguelen</key>
    <string>West Asia Standard Time</string>
    <key>Asia/Dushanbe</key>
    <string>West Asia Standard Time</string>
    <key>Asia/Ashgabat</key>
    <string>West Asia Standard Time</string>
    <key>Asia/Tashkent</key>
    <string>West Asia Standard Time</string>
    <key>Etc/GMT-5</key>
    <string>West Asia Standard Time</string>
    <key>Asia/Yekaterinburg</key>
    <string>Ekaterinburg Standard Time</string>
    <key>Asia/Karachi</key>
    <string>Pakistan Standard Time</string>
    <key>Asia/Calcutta</key>
    <string>India Standard Time</string>
    <key>Asia/Colombo</key>
    <string>Sri Lanka Standard Time</string>
    <key>Asia/Katmandu</key>
    <string>Nepal Standard Time</string>
    <key>Antarctica/Vostok</key>
    <string>Central Asia Standard Time</string>
    <key>Asia/Urumqi</key>
    <string>Central Asia Standard Time</string>
    <key>Indian/Chagos</key>
    <string>Central Asia Standard Time</string>
    <key>Asia/Bishkek</key>
    <string>Central Asia Standard Time</string>
    <key>Asia/Almaty</key>
    <string>Central Asia Standard Time</string>
    <key>Etc/GMT-6</key>
    <string>Central Asia Standard Time</string>
    <key>Asia/Dhaka</key>
    <string>Bangladesh Standard Time</string>
    <key>Asia/Thimphu</key>
    <string>Bangladesh Standard Time</string>
    <key>Asia/Omsk</key>
    <string>Omsk Standard Time</string>
    <key>Indian/Cocos</key>
    <string>Myanmar Standard Time</string>
    <key>Asia/Rangoon</key>
    <string>Myanmar Standard Time</string>
    <key>Antarctica/Davis</key>
    <string>SE Asia Standard Time</string>
    <key>Indian/Christmas</key>
    <string>SE Asia Standard Time</string>
    <key>Asia/Jakarta</key>
    <string>SE Asia Standard Time</string>
    <key>Asia/Phnom_Penh</key>
    <string>SE Asia Standard Time</string>
    <key>Asia/Vientiane</key>
    <string>SE Asia Standard Time</string>
    <key>Asia/Bangkok</key>
    <string>SE Asia Standard Time</string>
    <key>Asia/Saigon</key>
    <string>SE Asia Standard Time</string>
    <key>Etc/GMT-7</key>
    <string>SE Asia Standard Time</string>
    <key>Asia/Barnaul</key>
    <string>Altai Standard Time</string>
    <key>Asia/Hovd</key>
    <string>W. Mongolia Standard Time</string>
    <key>Asia/Krasnoyarsk</key>
    <string>North Asia Standard Time</string>
    <key>Asia/Novosibirsk</key>
    <string>N. Central Asia Standard Time</string>
    <key>Asia/Tomsk</key>
    <string>Tomsk Standard Time</string>
    <key>Asia/Shanghai</key>
    <string>China Standard Time</string>
    <key>Asia/Hong_Kong</key>
    <string>China Standard Time</string>
    <key>Asia/Macau</key>
    <string>China Standard Time</string>
    <key>Asia/Irkutsk</key>
    <string>North Asia East Standard Time</string>
    <key>Asia/Brunei</key>
    <string>Singapore Standard Time</string>
    <key>Asia/Makassar</key>
    <string>Singapore Standard Time</string>
    <key>Asia/Kuala_Lumpur</key>
    <string>Singapore Standard Time</string>
    <key>Asia/Manila</key>
    <string>Singapore Standard Time</string>
    <key>Asia/Singapore</key>
    <string>Singapore Standard Time</string>
    <key>Etc/GMT-8</key>
    <string>Singapore Standard Time</string>
    <key>Antarctica/Casey</key>
    <string>W. Australia Standard Time</string>
    <key>Australia/Perth</key>
    <string>W. Australia Standard Time</string>
    <key>Asia/Taipei</key>
    <string>Taipei Standard Time</string>
    <key>Asia/Ulaanbaatar</key>
    <string>Ulaanbaatar Standard Time</string>
    <key>Australia/Eucla</key>
    <string>Aus Central W. Standard Time</string>
    <key>Asia/Chita</key>
    <string>Transbaikal Standard Time</string>
    <key>Asia/Jayapura</key>
    <string>Tokyo Standard Time</string>
    <key>Asia/Tokyo</key>
    <string>Tokyo Standard Time</string>
    <key>Pacific/Palau</key>
    <string>Tokyo Standard Time</string>
    <key>Asia/Dili</key>
    <string>Tokyo Standard Time</string>
    <key>Etc/GMT-9</key>
    <string>Tokyo Standard Time</string>
    <key>Asia/Pyongyang</key>
    <string>North Korea Standard Time</string>
    <key>Asia/Seoul</key>
    <string>Korea Standard Time</string>
    <key>Asia/Yakutsk</key>
    <string>Yakutsk Standard Time</string>
    <key>Australia/Adelaide</key>
    <string>Cen. Australia Standard Time</string>
    <key>Australia/Darwin</key>
    <string>AUS Central Standard Time</string>
    <key>Australia/Brisbane</key>
    <string>E. Australia Standard Time</string>
    <key>Australia/Sydney</key>
    <string>AUS Eastern Standard Time</string>
    <key>Antarctica/DumontDUrville</key>
    <string>West Pacific Standard Time</string>
    <key>Pacific/Truk</key>
    <string>West Pacific Standard Time</string>
    <key>Pacific/Guam</key>
    <string>West Pacific Standard Time</string>
    <key>Pacific/Saipan</key>
    <string>West Pacific Standard Time</string>
    <key>Pacific/Port_Moresby</key>
    <string>West Pacific Standard Time</string>
    <key>Etc/GMT-10</key>
    <string>West Pacific Standard Time</string>
    <key>Australia/Hobart</key>
    <string>Tasmania Standard Time</string>
    <key>Asia/Vladivostok</key>
    <string>Vladivostok Standard Time</string>
    <key>Australia/Lord_Howe</key>
    <string>Lord Howe Standard Time</string>
    <key>Pacific/Bougainville</key>
    <string>Bougainville Standard Time</string>
    <key>Asia/Srednekolymsk</key>
    <string>Russia Time Zone 10</string>
    <key>Asia/Magadan</key>
    <string>Magadan Standard Time</string>
    <key>Pacific/Norfolk</key>
    <string>Norfolk Standard Time</string>
    <key>Asia/Sakhalin</key>
    <string>Sakhalin Standard Time</string>
    <key>Antarctica/Macquarie</key>
    <string>Central Pacific Standard Time</string>
    <key>Pacific/Ponape</key>
    <string>Central Pacific Standard Time</string>
    <key>Pacific/Noumea</key>
    <string>Central Pacific Standard Time</string>
    <key>Pacific/Guadalcanal</key>
    <string>Central Pacific Standard Time</string>
    <key>Pacific/Efate</key>
    <string>Central Pacific Standard Time</string>
    <key>Etc/GMT-11</key>
    <string>Central Pacific Standard Time</string>
    <key>Asia/Kamchatka</key>
    <string>Russia Time Zone 11</string>
    <key>Antarctica/McMurdo</key>
    <string>New Zealand Standard Time</string>
    <key>Pacific/Auckland</key>
    <string>New Zealand Standard Time</string>
    <key>Pacific/Tarawa</key>
    <string>UTC+12</string>
    <key>Pacific/Majuro</key>
    <string>UTC+12</string>
    <key>Pacific/Nauru</key>
    <string>UTC+12</string>
    <key>Pacific/Funafuti</key>
    <string>UTC+12</string>
    <key>Pacific/Wake</key>
    <string>UTC+12</string>
    <key>Pacific/Wallis</key>
    <string>UTC+12</string>
    <key>Etc/GMT-12</key>
    <string>UTC+12</string>
    <key>Pacific/Fiji</key>
    <string>Fiji Standard Time</string>
    <key>Pacific/Chatham</key>
    <string>Chatham Islands Standard Time</string>
    <key>Pacific/Enderbury</key>
    <string>UTC+13</string>
    <key>Pacific/Fakaofo</key>
    <string>UTC+13</string>
    <key>Etc/GMT-13</key>
    <string>UTC+13</string>
    <key>Pacific/Tongatapu</key>
    <string>Tonga Standard Time</string>
    <key>Pacific/Apia</key>
    <string>Samoa Standard Time</string>
    <key>Pacific/Kiritimati</key>
    <string>Line Islands Standard Time</string>
    <key>Etc/GMT-14</key>
    <string>Line Islands Standard Time</string>
    <key>US/Pacific</key>
    <string>Pacific Standard Time</string>
  </dict>
</plist>
