<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist SYSTEM "file:///localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
  <dict>
    <key>Dateline Standard Time</key>
    <string>Etc/GMT+12</string>
    <key>UTC-11</key>
    <string>Etc/GMT+11</string>
    <key>Aleutian Standard Time</key>
    <string>America/Adak</string>
    <key>Hawaiian Standard Time</key>
    <string>Pacific/Honolulu</string>
    <key>Marquesas Standard Time</key>
    <string>Pacific/Marquesas</string>
    <key>Alaskan Standard Time</key>
    <string>America/Anchorage</string>
    <key>UTC-09</key>
    <string>Etc/GMT+9</string>
    <key>Pacific Standard Time (Mexico)</key>
    <string>America/Tijuana</string>
    <key>UTC-08</key>
    <string>Etc/GMT+8</string>
    <key>Pacific Standard Time</key>
    <string>America/Los_Angeles</string>
    <key>US Mountain Standard Time</key>
    <string>America/Phoenix</string>
    <key>Mountain Standard Time (Mexico)</key>
    <string>America/Chihuahua</string>
    <key>Mountain Standard Time</key>
    <string>America/Denver</string>
    <key>Central America Standard Time</key>
    <string>America/Guatemala</string>
    <key>Central Standard Time</key>
    <string>America/Chicago</string>
    <key>Easter Island Standard Time</key>
    <string>Pacific/Easter</string>
    <key>Central Standard Time (Mexico)</key>
    <string>America/Mexico_City</string>
    <key>Canada Central Standard Time</key>
    <string>America/Regina</string>
    <key>SA Pacific Standard Time</key>
    <string>America/Bogota</string>
    <key>Eastern Standard Time (Mexico)</key>
    <string>America/Cancun</string>
    <key>Eastern Standard Time</key>
    <string>America/New_York</string>
    <key>Haiti Standard Time</key>
    <string>America/Port-au-Prince</string>
    <key>Cuba Standard Time</key>
    <string>America/Havana</string>
    <key>US Eastern Standard Time</key>
    <string>America/Indianapolis</string>
    <key>Paraguay Standard Time</key>
    <string>America/Asuncion</string>
    <key>Atlantic Standard Time</key>
    <string>America/Halifax</string>
    <key>Venezuela Standard Time</key>
    <string>America/Caracas</string>
    <key>Central Brazilian Standard Time</key>
    <string>America/Cuiaba</string>
    <key>SA Western Standard Time</key>
    <string>America/La_Paz</string>
    <key>Pacific SA Standard Time</key>
    <string>America/Santiago</string>
    <key>Turks And Caicos Standard Time</key>
    <string>America/Grand_Turk</string>
    <key>Newfoundland Standard Time</key>
    <string>America/St_Johns</string>
    <key>Tocantins Standard Time</key>
    <string>America/Araguaina</string>
    <key>E. South America Standard Time</key>
    <string>America/Sao_Paulo</string>
    <key>SA Eastern Standard Time</key>
    <string>America/Cayenne</string>
    <key>Argentina Standard Time</key>
    <string>America/Buenos_Aires</string>
    <key>Greenland Standard Time</key>
    <string>America/Godthab</string>
    <key>Montevideo Standard Time</key>
    <string>America/Montevideo</string>
    <key>Magallanes Standard Time</key>
    <string>America/Punta_Arenas</string>
    <key>Saint Pierre Standard Time</key>
    <string>America/Miquelon</string>
    <key>Bahia Standard Time</key>
    <string>America/Bahia</string>
    <key>UTC-02</key>
    <string>Etc/GMT+2</string>
    <key>Azores Standard Time</key>
    <string>Atlantic/Azores</string>
    <key>Cape Verde Standard Time</key>
    <string>Atlantic/Cape_Verde</string>
    <key>UTC</key>
    <string>Etc/GMT</string>
    <key>GMT Standard Time</key>
    <string>Europe/London</string>
    <key>Greenwich Standard Time</key>
    <string>Atlantic/Reykjavik</string>
    <key>W. Europe Standard Time</key>
    <string>Europe/Berlin</string>
    <key>Central Europe Standard Time</key>
    <string>Europe/Budapest</string>
    <key>Romance Standard Time</key>
    <string>Europe/Paris</string>
    <key>Morocco Standard Time</key>
    <string>Africa/Casablanca</string>
    <key>Sao Tome Standard Time</key>
    <string>Africa/Sao_Tome</string>
    <key>Central European Standard Time</key>
    <string>Europe/Warsaw</string>
    <key>W. Central Africa Standard Time</key>
    <string>Africa/Lagos</string>
    <key>Jordan Standard Time</key>
    <string>Asia/Amman</string>
    <key>GTB Standard Time</key>
    <string>Europe/Bucharest</string>
    <key>Middle East Standard Time</key>
    <string>Asia/Beirut</string>
    <key>Egypt Standard Time</key>
    <string>Africa/Cairo</string>
    <key>E. Europe Standard Time</key>
    <string>Europe/Chisinau</string>
    <key>Syria Standard Time</key>
    <string>Asia/Damascus</string>
    <key>West Bank Standard Time</key>
    <string>Asia/Hebron</string>
    <key>South Africa Standard Time</key>
    <string>Africa/Johannesburg</string>
    <key>FLE Standard Time</key>
    <string>Europe/Kiev</string>
    <key>Israel Standard Time</key>
    <string>Asia/Jerusalem</string>
    <key>Kaliningrad Standard Time</key>
    <string>Europe/Kaliningrad</string>
    <key>Sudan Standard Time</key>
    <string>Africa/Khartoum</string>
    <key>Libya Standard Time</key>
    <string>Africa/Tripoli</string>
    <key>Namibia Standard Time</key>
    <string>Africa/Windhoek</string>
    <key>Arabic Standard Time</key>
    <string>Asia/Baghdad</string>
    <key>Turkey Standard Time</key>
    <string>Europe/Istanbul</string>
    <key>Arab Standard Time</key>
    <string>Asia/Riyadh</string>
    <key>Belarus Standard Time</key>
    <string>Europe/Minsk</string>
    <key>Russian Standard Time</key>
    <string>Europe/Moscow</string>
    <key>E. Africa Standard Time</key>
    <string>Africa/Nairobi</string>
    <key>Iran Standard Time</key>
    <string>Asia/Tehran</string>
    <key>Arabian Standard Time</key>
    <string>Asia/Dubai</string>
    <key>Astrakhan Standard Time</key>
    <string>Europe/Astrakhan</string>
    <key>Azerbaijan Standard Time</key>
    <string>Asia/Baku</string>
    <key>Russia Time Zone 3</key>
    <string>Europe/Samara</string>
    <key>Mauritius Standard Time</key>
    <string>Indian/Mauritius</string>
    <key>Saratov Standard Time</key>
    <string>Europe/Saratov</string>
    <key>Georgian Standard Time</key>
    <string>Asia/Tbilisi</string>
    <key>Caucasus Standard Time</key>
    <string>Asia/Yerevan</string>
    <key>Afghanistan Standard Time</key>
    <string>Asia/Kabul</string>
    <key>West Asia Standard Time</key>
    <string>Asia/Tashkent</string>
    <key>Ekaterinburg Standard Time</key>
    <string>Asia/Yekaterinburg</string>
    <key>Pakistan Standard Time</key>
    <string>Asia/Karachi</string>
    <key>India Standard Time</key>
    <string>Asia/Calcutta</string>
    <key>Sri Lanka Standard Time</key>
    <string>Asia/Colombo</string>
    <key>Nepal Standard Time</key>
    <string>Asia/Katmandu</string>
    <key>Central Asia Standard Time</key>
    <string>Asia/Almaty</string>
    <key>Bangladesh Standard Time</key>
    <string>Asia/Dhaka</string>
    <key>Omsk Standard Time</key>
    <string>Asia/Omsk</string>
    <key>Myanmar Standard Time</key>
    <string>Asia/Rangoon</string>
    <key>SE Asia Standard Time</key>
    <string>Asia/Bangkok</string>
    <key>Altai Standard Time</key>
    <string>Asia/Barnaul</string>
    <key>W. Mongolia Standard Time</key>
    <string>Asia/Hovd</string>
    <key>North Asia Standard Time</key>
    <string>Asia/Krasnoyarsk</string>
    <key>N. Central Asia Standard Time</key>
    <string>Asia/Novosibirsk</string>
    <key>Tomsk Standard Time</key>
    <string>Asia/Tomsk</string>
    <key>China Standard Time</key>
    <string>Asia/Shanghai</string>
    <key>North Asia East Standard Time</key>
    <string>Asia/Irkutsk</string>
    <key>Singapore Standard Time</key>
    <string>Asia/Singapore</string>
    <key>W. Australia Standard Time</key>
    <string>Australia/Perth</string>
    <key>Taipei Standard Time</key>
    <string>Asia/Taipei</string>
    <key>Ulaanbaatar Standard Time</key>
    <string>Asia/Ulaanbaatar</string>
    <key>Aus Central W. Standard Time</key>
    <string>Australia/Eucla</string>
    <key>Transbaikal Standard Time</key>
    <string>Asia/Chita</string>
    <key>Tokyo Standard Time</key>
    <string>Asia/Tokyo</string>
    <key>North Korea Standard Time</key>
    <string>Asia/Pyongyang</string>
    <key>Korea Standard Time</key>
    <string>Asia/Seoul</string>
    <key>Yakutsk Standard Time</key>
    <string>Asia/Yakutsk</string>
    <key>Cen. Australia Standard Time</key>
    <string>Australia/Adelaide</string>
    <key>AUS Central Standard Time</key>
    <string>Australia/Darwin</string>
    <key>E. Australia Standard Time</key>
    <string>Australia/Brisbane</string>
    <key>AUS Eastern Standard Time</key>
    <string>Australia/Sydney</string>
    <key>West Pacific Standard Time</key>
    <string>Pacific/Port_Moresby</string>
    <key>Tasmania Standard Time</key>
    <string>Australia/Hobart</string>
    <key>Vladivostok Standard Time</key>
    <string>Asia/Vladivostok</string>
    <key>Lord Howe Standard Time</key>
    <string>Australia/Lord_Howe</string>
    <key>Bougainville Standard Time</key>
    <string>Pacific/Bougainville</string>
    <key>Russia Time Zone 10</key>
    <string>Asia/Srednekolymsk</string>
    <key>Magadan Standard Time</key>
    <string>Asia/Magadan</string>
    <key>Norfolk Standard Time</key>
    <string>Pacific/Norfolk</string>
    <key>Sakhalin Standard Time</key>
    <string>Asia/Sakhalin</string>
    <key>Central Pacific Standard Time</key>
    <string>Pacific/Guadalcanal</string>
    <key>Russia Time Zone 11</key>
    <string>Asia/Kamchatka</string>
    <key>New Zealand Standard Time</key>
    <string>Pacific/Auckland</string>
    <key>UTC+12</key>
    <string>Etc/GMT-12</string>
    <key>Fiji Standard Time</key>
    <string>Pacific/Fiji</string>
    <key>Chatham Islands Standard Time</key>
    <string>Pacific/Chatham</string>
    <key>UTC+13</key>
    <string>Etc/GMT-13</string>
    <key>Tonga Standard Time</key>
    <string>Pacific/Tongatapu</string>
    <key>Samoa Standard Time</key>
    <string>Pacific/Apia</string>
    <key>Line Islands Standard Time</key>
    <string>Pacific/Kiritimati</string>
  </dict>
</plist>
