#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=
Exec=sudo /usr/local/bin/furybsd-wifi-tool
TryExec=/usr/local/bin/furybsd-wifi-tool
Name=Configure Wifi
Comment=Configure Wifi
Icon=network-wireless
