<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>msdos</string>
	<key>CFBundlePackageType</key>
	<string>fs  </string>
	<key>CFBundleShortVersionString</key>
	<string>$(MSDOSFS_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(MSDOSFS_VERSION)</string>
	<key>FSMediaTypes</key>
	<dict>
		<key>C12A7328-F81F-11D2-BA4B-00A0C93EC93B</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>C12A7328-F81F-11D2-BA4B-00A0C93EC93B</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>msdos.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
			<key>autodiskmount</key>
			<false/>
		</dict>
		<key>DOS_FAT_12</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>DOS_FAT_12</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>msdos.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
		<key>DOS_FAT_16</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>DOS_FAT_16</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>msdos.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
		<key>DOS_FAT_16_S</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>DOS_FAT_16_S</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>msdos.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
		<key>DOS_FAT_32</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>DOS_FAT_32</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>msdos.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
		<key>EBD0A0A2-B9E5-4433-87C0-68B6B72699C7</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>EBD0A0A2-B9E5-4433-87C0-68B6B72699C7</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>msdos.util</string>
			<key>FSProbeOrder</key>
			<integer>2000</integer>
		</dict>
		<key>Partitionless</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Leaf</key>
				<true/>
				<key>Whole</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>msdos.util</string>
			<key>FSProbeOrder</key>
			<integer>4000</integer>
		</dict>
		<key>Windows_FAT_16</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Windows_FAT_16</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>msdos.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
		<key>Windows_FAT_32</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Windows_FAT_32</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>msdos.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
	</dict>
	<key>FSPersonalities</key>
	<dict>
		<key>MS-DOS</key>
		<dict>
			<key>FSFormatArguments</key>
			<string></string>
			<key>FSFormatContentMask</key>
			<string>DOS_FAT_32</string>
			<key>FSFormatExecutable</key>
			<string>newfs_msdos</string>
			<key>FSFormatMaximumSize</key>
			<integer>8796093022208</integer>
			<key>FSFormatMinimumSize</key>
			<integer>32768</integer>
			<key>FSMountArguments</key>
			<string></string>
			<key>FSMountExecutable</key>
			<string>mount_msdos</string>
			<key>FSName</key>
			<string>MS-DOS (FAT)</string>
			<key>FSRepairArguments</key>
			<string>-y</string>
			<key>FSRepairExecutable</key>
			<string>fsck_msdos</string>
			<key>FSVerificationArguments</key>
			<string>-n</string>
			<key>FSVerificationExecutable</key>
			<string>fsck_msdos</string>
		</dict>
		<key>MS-DOS FAT12</key>
		<dict>
			<key>FSFormatArguments</key>
			<string>-F 12</string>
			<key>FSFormatContentMask</key>
			<string>DOS_FAT_12</string>
			<key>FSFormatExecutable</key>
			<string>newfs_msdos</string>
			<key>FSFormatMaximumSize</key>
			<integer>133169152</integer>
			<key>FSFormatMinimumSize</key>
			<integer>32768</integer>
			<key>FSMountArguments</key>
			<string></string>
			<key>FSMountExecutable</key>
			<string>mount_msdos</string>
			<key>FSName</key>
			<string>MS-DOS (FAT12)</string>
			<key>FSRepairArguments</key>
			<string>-y</string>
			<key>FSRepairExecutable</key>
			<string>fsck_msdos</string>
			<key>FSSubType</key>
			<integer>0</integer>
			<key>FSVerificationArguments</key>
			<string>-n</string>
			<key>FSVerificationExecutable</key>
			<string>fsck_msdos</string>
		</dict>
		<key>MS-DOS FAT16</key>
		<dict>
			<key>FSFormatArguments</key>
			<string>-F 16</string>
			<key>FSFormatContentMask</key>
			<string>DOS_FAT_16</string>
			<key>FSFormatExecutable</key>
			<string>newfs_msdos</string>
			<key>FSFormatMaximumSize</key>
			<integer>2147483648</integer>
			<key>FSFormatMinimumSize</key>
			<integer>4299161</integer>
			<key>FSMountArguments</key>
			<string></string>
			<key>FSMountExecutable</key>
			<string>mount_msdos</string>
			<key>FSName</key>
			<string>MS-DOS (FAT16)</string>
			<key>FSRepairArguments</key>
			<string>-y</string>
			<key>FSRepairExecutable</key>
			<string>fsck_msdos</string>
			<key>FSSubType</key>
			<integer>1</integer>
			<key>FSVerificationArguments</key>
			<string>-n</string>
			<key>FSVerificationExecutable</key>
			<string>fsck_msdos</string>
		</dict>
		<key>MS-DOS FAT32</key>
		<dict>
			<key>FSFormatArguments</key>
			<string>-F 32</string>
			<key>FSFormatContentMask</key>
			<string>DOS_FAT_32</string>
			<key>FSFormatExecutable</key>
			<string>newfs_msdos</string>
			<key>FSFormatMaximumSize</key>
			<integer>8796093022208</integer>
			<key>FSFormatMinimumSize</key>
			<integer>34603008</integer>
			<key>FSMountArguments</key>
			<string></string>
			<key>FSMountExecutable</key>
			<string>mount_msdos</string>
			<key>FSName</key>
			<string>MS-DOS (FAT32)</string>
			<key>FSRepairArguments</key>
			<string>-y</string>
			<key>FSRepairExecutable</key>
			<string>fsck_msdos</string>
			<key>FSSubType</key>
			<integer>2</integer>
			<key>FSVerificationArguments</key>
			<string>-n</string>
			<key>FSVerificationExecutable</key>
			<string>fsck_msdos</string>
		</dict>
	</dict>
</dict>
</plist>
