<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2019-04-17</string>
		<key>OpenSourceLicense</key>
		<string>other</string>
		<key>OpenSourceLicenseFile</key>
		<string>ICU.txt</string>
		<key>OpenSourceProject</key>
		<string>International Components for Unicode</string>
		<key>OpenSourceURL</key>
		<string>https://github.com/unicode-org/icu/releases/tag/release-64-2</string>
		<key>OpenSourceVersion</key>
		<string>64.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://site.icu-project.org/</string>
	</dict>
</array>
</plist>
