/dist/Devel-PPPort/PPPort.h
/dist/Devel-PPPort/PPPort.pm
/dist/PathTools/ppport.h
/dist/Storable/ppport.h
/ext/Fcntl/const-c.inc
/ext/Fcntl/const-xs.inc
/ext/File-Glob/const-c.inc
/ext/File-Glob/const-xs.inc
/ext/POSIX/const-c.inc
/ext/POSIX/const-xs.inc
