
*.o
*.xcworkspacedata
*/build/
*~
.DS_Store
BuildRoots/
build/
TAGS
cscope.*
project.xcworkspace/
xcuserdata/

## Visual Studio files

# User specific files
*.suo
*.user
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
windows/ipch/
windows/CommonCrypto/
windows/CommonNumerics/

*.vc.db
*.VC.db
*.sdf
*.exe
*.obj
#hmacfiletool-Prefix.pch
#*.pch
*.pdb
*.pgc
*.pgd
#for FIPS test vectors
#*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.opendb

# Android build results
DSTROOT/
libs/
android/.idea
android/.gradle
*.iml
