/addr2line
/ar
/bin2c
/coffdump
/cxxfilt
/dlltool
/dllwrap
/elfedit
/nm-new
/objcopy
/objdump
/ranlib
/readelf
/size
/srconv
/strings
/strip-new
/sysdump
/sysinfo
/windmc
/windres

/arlex.c
/arparse.c
/arparse.h
/deflex.c
/defparse.c
/defparse.h
/mcparse.c
/mcparse.h
/rcparse.c
/rcparse.h
/sysinfo.c
/sysinfo.h
/syslex.c
/sysroff.c
/sysroff.h

/doc/addr2line.1
/doc/ar.1
/doc/c++filt.1
/doc/cxxfilt.man
/doc/dlltool.1
/doc/elfedit.1
/doc/nm.1
/doc/objcopy.1
/doc/objdump.1
/doc/ranlib.1
/doc/readelf.1
/doc/size.1
/doc/strings.1
/doc/strip.1
/doc/windmc.1
/doc/windres.1
